.fields {
    margin: 0 !important;
}

#content {
    display: grid;
    grid-template-areas:
        "form"
        "footer";
    grid-template-rows: auto min-content;
    height: 100%;
}

#footer-form {
    margin: 0;
    padding: 0 0 2rem 0;
    text-align: end
}

#footer-form #buttons {
    margin-right: 1rem;
}

.ui.divider {
    margin-bottom: 2rem;
}

/* ! Small heights = numeric fields on the same line */
@media only screen and (max-height: 60rem) {
    .fields {
        flex-direction: row !important;
    }
}

/* ! Big heights = numeric fields on different lines */
@media only screen and (min-height: 60.0625rem) {
    .fields {
        flex-direction: column !important;
    }
}

table {
    background-color: dimgray;
    color: wheat;
}

table tr {
    cursor: pointer;
}

#wrapper {
    overflow-y: scroll;
    height: 100px;
}

#wrapper::-webkit-scrollbar {
    width: 1rem;
}

#wrapper::-webkit-scrollbar-track {
    background-color: olivedrab;
}