#search-box {
    margin: 0 1rem !important;
}

#content {
    display: grid;
    grid-template-areas:
        "tabs"
        "main-content";
    grid-template-rows: max-content 1fr;
    margin-top: -0.9rem;
    overflow-y: hidden;
}

#empty {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.tab.segment {
    margin: 0 !important;
}

#summariesAndGrid {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-areas:
        "summaries"
        "grid";
    grid-template-columns: 300px auto;
    height: 100%;
    max-height: -webkit-fill-available;
    overflow-y: hidden;
}

#summaries {
    display: grid;
    height: -webkit-fill-available;
    overflow-y: auto;
    row-gap: 0.5rem;
}

#summaries::-webkit-scrollbar {
    width: 0.5rem;
}

#summaries::-webkit-scrollbar-thumb {
    background-color: #D67474;
    min-height: 6.25rem;
}

.summaryBlock {
    background-color: #f5f5f5;
    height: fit-content;
    padding: 30px;
    width: 300px;
}

.summaryHeader {
    display: flex;
    justify-content: space-between;
}

.summaryBlock header {
    color: #D67474;
    font-family: "Economica";
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.summaryBlock .item {
    border-left: 0.3rem solid #d3d0d0;
    color: #939393;
    display: flex;
    font-family: "Play";
    font-size: 1rem;
    justify-content: space-between;
    line-height: 1.5rem;
    margin-bottom: 0.2rem;
    padding: 0 0.5rem;
}

.summaryBlock .item:hover {
    background-color: #ffffff;
    cursor: pointer;
}

.summaryBlock .item .description {
    max-width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.summaryBlock .item .total {
    align-items: flex-end;
    display: flex;
}

.summaryBlock footer {
    color: #939393;
    display: flex;
    font-family: "Play";
    font-size: 12px;
    font-weight: bold;
    justify-content: space-between;
    margin-top: 30px;
}

#main-content {
    grid-area: "grid";
    overflow-y: auto;
}

#main-content::-webkit-scrollbar {
    width: 0.5rem;
}

#main-content::-webkit-scrollbar-thumb {
    background-color: #D67474;
    min-height: 6.25rem;
}

input.date {
    margin-right: 0.25rem !important;
}

h3 {
    color: #939393;
    font-family: "Economica";
}

.tab.segment.active {
    border-left-color: #d3d0d0 !important;
}

.activeItem {
    border-left-color: #D67474 !important;
}