<div id='header'>

    <div id='title'>
        <h2>Transfers</h2>
        <!-- <p>{{ form.value | json }} {{ form.valid }}</p> -->
        <div id='close' [routerLink]='["/"]'>X </div>
    </div>
    <div class='ui divider'>
    </div>

    <div id='search-box'>
        <form [formGroup]='form' class="ui form" autocomplete='off'>
            <div class="field">
                <input type="text" class="date" formControlName="dateIn" [appInputFormat]="'date'" tabindex='1' placeholder="Date">
                <input class="dummy" tabindex='2'>
                <button class='ui button solid' id='go' (click)='getTransfers()' tabindex='2'>Go</button>
            </div>
        </form>
    </div>

</div>

<div id="content">

    <!-- Form -->
    <div id="form">
        <app-transfer-form [parentData]="selectedDate" [transfer]='selectedTransfer'></app-transfer-form>
    </div>

    <!-- Grid -->
    <div id="grid">
        <!-- Table -->
        <div id='main-content'>
            <table class='ui sortable fixed single line table'>
                <thead>
                    <tr>
                        <th class='center aligned one wide'>Dest</th>
                        <th class='hidden'>Destination</th>
                        <th class='center aligned one wide'>Route</th>
                        <th class='center aligned'>Customer</th>
                        <th class='center aligned two wide'>Pickup point</th>
                        <th class='center aligned one wide'>Time</th>
                        <th class='center aligned one wide'>Adults</th>
                        <th class='center aligned one wide'>Kids</th>
                        <th class='center aligned one wide'>Free</th>
                        <th class='center aligned one wide'>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let transfer of queryResultFiltered.transfers' (click)='populateForm(transfer)'>
                        <td class="center aligned">{{ transfer.destination.shortDescription }}</td>
                        <td class="hidden">{{ transfer.destination.description }}</td>
                        <td>{{ transfer.pickupPoint.route.shortDescription }}</td>
                        <td>{{ transfer.customer.description }}</td>
                        <td>{{ transfer.pickupPoint.exactPoint }}</td>
                        <td class="center aligned">{{ transfer.pickupPoint.time }}</td>
                        <td class=' right aligned'>{{ transfer.adults }}</td>
                        <td class='right aligned'>{{ transfer.kids }}</td>
                        <td class='right aligned'>{{ transfer.free }}</td>
                        <td class='right aligned'>{{ transfer.totalPersons }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <!-- Summary -->
    <div id="summary">
        <div class="summaryBlock">
            <div class="summaryHeader">
                <header>Destinations</header>
                <header class="total">{{ queryResult.persons }}</header>
            </div>
            <div *ngFor="let item of queryResult.personsPerDestination" (click)="toggleItem(item, this.selectedDestinations)" class="item destination" [class.active]="item.isSelected" [id]="item.description">
                <div class="description"> {{ item.description }} </div>
                <div class="total"> {{ item.persons }} </div>
            </div>
        </div>
        <div class="summaryBlock">
            <div class="summaryHeader">
                <header>Customers</header>
                <header class="total">{{ queryResult.persons }}</header>
            </div>
            <div *ngFor="let item of queryResult.personsPerCustomer" (click)="toggleItem(item, this.selectedCustomers)" class="item customer" [class.active]="item.isSelected" [id]="item.description">
                <div class="description"> {{ item.description }} </div>
                <div class="total"> {{ item.persons }} </div>
            </div>
        </div>
    </div>

</div>