#footer {
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

#footer #buttons {
    margin-right: 0
}

#footer .button:last-child {
    margin-right: 0 !important
}

.number {
    text-align: right;
}
