<div id='header'>

    <div id='title'>
        <h2>Transfers</h2>
        <!-- <p>{{ form.value | json }} {{ form.valid }}</p> -->
        <div id='close' [routerLink]='["/"]'>X</div>
    </div>

    <div class='ui divider'></div>

    <div id='search-box'>
        <form [formGroup]='form' class="ui form" autocomplete='off'>
            <div class="field">
                <input type="text" formControlName="dateIn" placeholder="Date">
                <button class='ui button solid' id='go' (click)='getTransfers()'>Go</button>
            </div>
        </form>
    </div>

</div>

<div id="content">

    <!-- Tabs -->
    <div class="ui top attached tabular menu">
        <a class="item active" data-tab="first">Summary</a>
        <a class="item" data-tab="second">Details</a>
    </div>

    <!-- Summary -->
    <div class="ui bottom attached tab segment active" data-tab="first">

        <!-- Empty -->
        <div id="empty" [hidden]="!queryIsEmpty()">
            <div class="ui icon header">
                <i class="search icon"></i>
                <h3>Nothing to show</h3>
            </div>
        </div>

        <!-- Boxes -->
        <div class="summary" [hidden]="queryIsEmpty()">
            <div class="summaryBlock">
                <header>Destinations</header>
                <div class="item" *ngFor="let item of queryResult.personsPerDestination">
                    <div class="description">
                        {{ item.description }}
                    </div>
                    <div class="total">
                        {{ item.persons }}
                    </div>
                </div>
                <footer>
                    <div class="description">
                        TOTAL
                    </div>
                    <div class="total">
                        {{ queryResult.persons }}
                    </div>
                </footer>
            </div>
            <div class="summaryBlock">
                <header>Customers</header>
                <div class="item" *ngFor="let item of queryResult.personsPerCustomer">
                    <div class="description">
                        {{ item.description }}
                    </div>
                    <div class="total">
                        {{ item.persons }}
                    </div>
                </div>
                <footer>
                    <div class="description">
                        TOTAL
                    </div>
                    <div class="total">
                        {{ queryResult.persons }}
                    </div>
                </footer>
            </div>
            <div class="summaryBlock">
                <header>Routes</header>
                <div class="item" *ngFor="let item of queryResult.personsPerRoute">
                    <div class="description">
                        {{ item.description }}
                    </div>
                    <div class="total">
                        {{ item.persons }}
                    </div>
                </div>
                <footer>
                    <div class="description">
                        TOTAL
                    </div>
                    <div class="total">
                        {{ queryResult.persons }}
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <!-- Details -->
    <div class="ui bottom attached tab segment" data-tab="second">

        <!-- Empty -->
        <div id="empty" [hidden]="!queryIsEmpty()">
            <div class="ui icon header">
                <i class="search icon"></i>
                <h3>Nothing to show</h3>
            </div>
        </div>

        <!-- Table -->
        <div class="summary" [hidden]="queryIsEmpty()">
            <div id='main-content'>
                <table class='ui sortable fixed single line table'>
                    <thead>
                        <tr>
                            <th class='center aligned'>Destination</th>
                            <th class='center aligned'>Route</th>
                            <th class='center aligned'>Customer</th>
                            <th class='center aligned two wide'>Persons</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor='let transfer of queryResult.transfers' routerLink='/transfers/{{ transfer.id }}'>
                            <td>{{ transfer.destination.description }}</td>
                            <td>{{ transfer.pickupPoint.route.description }}</td>
                            <td>{{ transfer.customer.description }}</td>
                            <td class='right aligned'>{{ transfer.totalPersons }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<div id='footer'>
    <div id='buttons'>
        <button class='ui button solid' [routerLink]='["/transfers/new"]'>New </button>
    </div>
</div>