<!-- <p>{{ form.value | json }} {{ form.valid }}</p> -->

<div id="content">
    <form [formGroup]="form" class="ui form" id="details" autocomplete="off">
        <!-- <label>{{ form.value.id }}</label> -->
        <!-- <label>{{ form.value.userName }}</label> -->
        <!-- <label>{{ form.value.dateIn }}</label> -->
        <div class="field" [class.error]="(destinationId.invalid && destinationDescription.invalid && destinationDescription.touched) || (destinationDescription.touched && !arrayLookup(destinations, destinationDescription))">
            <label for="destination">Destination</label>
            <input type="text" list="destinationList" formControlName="destinationDescription" (change)="updateDestinationId(destinations, $event)" tabindex="1" id="destination">
            <datalist id="destinationList">
                <select>
                    <option *ngFor="let destination of destinations" [value]="destination.description"></option>
                </select>
            </datalist>
        </div>
        <div class="field" [class.error]="(customerId.invalid && customerDescription.invalid && customerDescription.touched) || (customerDescription.touched && !arrayLookup(customers, customerDescription))">
            <label for="customer">Customer</label>
            <input type="text" list="customerList" formControlName="customerDescription" (change)="updateCustomerId(customers, $event)" tabindex="2" id="customer">
            <datalist id="customerList">
                <select>
                    <option *ngFor="let customer of customers" [value]="customer.description"></option>
                </select>
            </datalist>
        </div>
        <div class="field" [class.error]="(pickupPointId.invalid && pickupPointDescription.invalid && pickupPointDescription.touched) || (pickupPointDescription.touched && !arrayLookup(pickupPoints, pickupPointDescription))">
            <label for="pickupPoint">Pickup point</label>
            <input type="text" list="pickupPointList" formControlName="pickupPointDescription" (change)="updatePickupPointId(pickupPoints, $event)" tabindex="3" id="pickupPoint">
            <datalist id="pickupPointList">
                <select>
                    <option *ngFor="let pickupPoint of pickupPoints" [value]="pickupPoint.description"></option>
                </select>
            </datalist>
        </div>
        <div class="fields">
            <div class="field numeric">
                <label for="adults">Adults</label>
                <input type="text" class="number" formControlName="adults" pattern="^[0-9]+[0-9]*$" (change)="calculateTotalPersons()" tabindex="4" id="adults">
            </div>
            <div class="field numeric">
                <label for="kids">Kids</label>
                <input type="text" class="number" formControlName="kids" pattern="^[0-9]+[0-9]*$" (change)="calculateTotalPersons()" tabindex="5" id="kids">
            </div>
            <div class="field numeric">
                <label for="free">Free</label>
                <input type="text" class="number" formControlName="free" pattern="^[0-9]+[0-9]*$" (change)="calculateTotalPersons()" tabindex="6" id="free">
            </div>
            <div class="field numeric total">
                <label>Total</label>
                <input type="text" class="number" formControlName="totalPersons">
            </div>
        </div>
        <div class="field" [class.error]="(driverId.invalid && driverDescription.invalid && driverDescription.touched) || (driverDescription.touched && !arrayLookup(drivers, driverDescription))">
            <label for="driver">Driver</label>
            <input type="text" list="driverList" formControlName="driverDescription" (change)="updateDriverId(drivers, $event)" tabindex="7" id="driver">
            <datalist id="driverList">
                <select>
                    <option *ngFor="let driver of drivers" [value]="driver.description"></option>
                </select>
            </datalist>
        </div>
        <div class="field" [class.error]="(portId.invalid && portDescription.invalid && portDescription.touched) || (portDescription.touched && !arrayLookup(ports, portDescription))">
            <label for="port">Port</label>
            <input type="text" list="portList" formControlName="portDescription" (change)="updatePortId(ports, $event)" tabindex="8" id="port">
            <datalist id="portList">
                <select>
                    <option *ngFor="let port of ports" [value]="port.description"></option>
                </select>
            </datalist>
        </div>
        <div class="field">
            <label for="remarks">Remarks</label>
            <input type="text" formControlName="remarks" tabindex="9" id="remarks">
        </div>
    </form>
    <!-- <div id="buttons">
        <button class="ui button secondary" (click)="delete()" [hidden]="form.value.id !== 0">Delete</button>
        <button class="ui button solid" (click)="save()" [disabled]="!form.valid">Save</button>
    </div> -->
</div>

<!-- <div id="footer">
</div> -->