:host {
    display: grid;
}

#search-box {
    margin: 0;
}

#content {
    display: flex;
    flex-direction: row;
    grid-area: "content";
    grid-auto-rows: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 0 2rem 0;
    position: relative;
    width: max-content;
    z-index: 0;
}

input.date {
    margin-right: 0.25rem !important;
}

.activeItem {
    border-left-color: var(--color-summary-block-border-active) !important;
}

#header {
    margin: 0;
    padding: 2rem;
}

#footer-empty {
    margin: 0;
    padding: 0 2rem 2.6rem 2rem;
    text-align: end
}

#footer-list {
    margin: 0;
    padding: 0 ;
    text-align: end
}

#footer-list #buttons {
    margin-right: 1rem;
}

.search.icon {
    color: var(--color-icon);
}

.empty.ui.divider {
    margin: 0 2rem 2rem 2rem;
}

#empty {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
}

#empty-content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

#scrollable::-webkit-scrollbar {
    width: 0.5rem;
}

#scrollable::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    min-height: 6.25rem;
    border-radius: 0;
}

#summaries {
    align-content: flex-start;
    background-color: var(--color-background);
    display: grid;
    padding: 0 2rem;
    row-gap: 0.5rem;
    width: 300px;
    z-index: 1;
}

.summaryBlock {
    background-color: var(--color-summary-block-background);
    height: fit-content;
    padding: 1.9rem;
}

.summaryHeader {
    display: flex;
    justify-content: space-between;
}

.summaryBlock header {
    color: var(--color-master-dark);
    font-family: var(--font-family-summary-block-header);
    font-size: var(--font-size-summary-block-header);
    margin-bottom: 1rem;
}

.summaryBlock .item {
    border-left: 0.3rem solid var(--color-summary-block-border-inactive);
    color: var(--color-summary-block-item);
    display: flex;
    font-family: var(--font-family-summary-block-item);
    font-size: var(--font-size-summary-block-item);
    justify-content: space-between;
    line-height: 1.5rem;
    margin-bottom: 0.2rem;
    padding: 0 0.5rem;
}

.summaryBlock .item:hover {
    background-color: var(--color-summary-block-item-hover);
    cursor: pointer;
}

.summaryBlock .item .description {
    max-width: 13rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.summaryBlock .item .total {
    align-items: flex-end;
    display: flex;
}

#scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

#list {
    background-color: var(--color-background);
    display: grid;
    grid-template-areas: 
        "list"
        "footer";
    grid-template-rows: auto min-content;
    margin-right: 25px;
    transition: 0.2s ease-out;
}

#form {
    background-color: var(--color-background);
    display: grid;
    grid-template-areas:
        "router-outlet"
        "list"
        "footer";
    grid-template-rows: min-content auto min-content;
}

.ui.table {
    background-color: var(--color-background);
    margin: 0 !important;
    width: inherit;
}
.ui.table>thead>tr:first-child>th:first-child, .ui.table>thead>tr:first-child>th:last-child {
    border-radius: 0 !important;
}