<div id="header">
    <div id="title">
        <i *ngIf="isFormVisible" class="big arrow alternate circle left outline icon navigation-icon" (click)="goBack()"></i>
        <h1>Transfers</h1>
    </div>
    <div id="search-box">
        <form [formGroup]="form" class="ui form" autocomplete="off">
            <div class="fields">
                <input type="text" class="date" formControlName="dateIn" [appInputFormat]="'date'" id="dateIn">
                <button class="ui button primary" id="go" (click)="getTransfers()">Search</button>
            </div>
        </form>
    </div>
    <div class="ui divider"></div>
</div>

<div id="content">
    <div id="empty">
        <div id="empty-content">
            <div *ngIf="queryResult.persons == null; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <h3></h3>
            </ng-template>
            <ng-template #elseBlock>
                <h1 id="nothing">We found nothing for this date</h1>
            </ng-template>
        </div>
        <div id="footer">
            <div class="ui divider"></div>
            <div id="buttons">
                <button class="ui button primary" id="new" [disabled]="queryResult.persons == undefined" (click)="newRecord()">New</button>
            </div>
        </div>
    </div>
    <div id="summaries">
        <div class="summaryBlock">
            <div class="summaryHeader">
                <header>Destinations</header>
                <header class="total">{{ queryResult.persons }}</header>
            </div>
            <div *ngFor="let item of queryResult.personsPerDestination" (click)="toggleItem(item, this.selectedDestinations)" class="item destination" [class.active]="item.isSelected" [id]="item.description">
                <div class="description"> {{ item.description }} </div>
                <div class="total"> {{ item.persons }} </div>
            </div>
        </div>
        <div class="summaryBlock">
            <div class="summaryHeader">
                <header>Customers</header>
                <header class="total">{{ queryResult.persons }}</header>
            </div>
            <div *ngFor="let item of queryResult.personsPerCustomer" (click)="toggleItem(item, this.selectedCustomers)" class="item customer" [class.active]="item.isSelected" [id]="item.description">
                <div class="description"> {{ item.description }} </div>
                <div class="total"> {{ item.persons }} </div>
            </div>
        </div>
        <div class="summaryBlock">
            <div class="summaryHeader">
                <header>Routes</header>
                <header class="total">{{ queryResult.persons }}</header>
            </div>
            <div *ngFor="let item of queryResult.personsPerRoute" (click)="toggleItem(item, this.selectedRoutes)" class="item route" [class.activeItem]="item.isSelected" [id]="item.description">
                <div class="description"> {{ item.description }} </div>
                <div class="total"> {{ item.persons }} </div>
            </div>
        </div>
        <div class="summaryBlock">
            <div class="summaryHeader">
                <header>Drivers</header>
                <header class="total">{{ queryResult.persons }}</header>
            </div>
            <div *ngFor="let item of queryResult.personsPerDriver" (click)="toggleItem(item, this.selectedDrivers)" class="item driver" [class.active]="item.isSelected" [id]="item.description">
                <div class="description"> {{ item.description }} </div>
                <div class="total"> {{ item.persons }} </div>
            </div>
        </div>
        <div class="summaryBlock">
            <div class="summaryHeader">
                <header>Ports</header>
                <header class="total">{{ queryResult.persons }}</header>
            </div>
            <div *ngFor="let item of queryResult.personsPerPort" (click)="toggleItem(item, this.selectedPorts)" class="item port" [class.active]="item.isSelected" [id]="item.description">
                <div class="description"> {{ item.description }} </div>
                <div class="total"> {{ item.persons }} </div>
            </div>
        </div>
    </div>
    <div id="list">
        <div id="scrollable">
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th class="center aligned">Id</th>
                        <th class="center aligned">Destination</th>
                        <th class="center aligned">Route</th>
                        <th class="center aligned">Customer</th>
                        <th class="center aligned">Pickup point</th>
                        <th class="center aligned">Time</th>
                        <th class="center aligned">Adults</th>
                        <th class="center aligned">Kids</th>
                        <th class="center aligned">Free</th>
                        <th class="center aligned">Total</th>
                        <th class="center aligned">Driver</th>
                        <th class="center aligned">Port</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transfer of queryResultFiltered.transfers" (click)="getTransfer(transfer.id)">
                        <td class="center aligned">{{ transfer.id }}</td>
                        <td class="center aligned">{{ transfer.destination.abbreviation }}</td>
                        <td class="center aligned">{{ transfer.pickupPoint.route.abbreviation }}</td>
                        <td>{{ transfer.customer.description }}</td>
                        <td>{{ transfer.pickupPoint.exactPoint }}</td>
                        <td class="center aligned">{{ transfer.pickupPoint.time }}</td>
                        <td class="right aligned">{{ transfer.adults }}</td>
                        <td class="right aligned">{{ transfer.kids }}</td>
                        <td class="right aligned">{{ transfer.free }}</td>
                        <td class="right aligned">{{ transfer.totalPersons }}</td>
                        <td>{{ transfer.driver.description }}</td>
                        <td>{{ transfer.port.description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="footer">
            <div class="ui divider"></div>
            <div id="buttons">
                <button class="ui button primary" id="new" [disabled]="queryResult.persons == undefined" (click)="newRecord()">New</button>
            </div>
        </div>
    </div>
    <div id="form">
        <app-transfer-form #transfer></app-transfer-form>
    </div>
</div>