<div id="content">
    <form [formGroup]="form" class="ui form" autocomplete="off">
        <div id="left">
            <div class="field" [class.error]="isValidInput(destinationDescription, destinationId, destinations)">
                <label for="destination">Destination</label>
                <input type="text" formControlName="destinationDescription" (change)="lookupTable(0, 'destinationId', 'destinationDescription', destinationDescription, 'destination', 'customer')" tabindex="1" id="destination">
            </div>
            <div class="field" [class.error]="isValidInput(customerDescription, customerId, customers)">
                <label for="customer">Customer</label>
                <input type="text" formControlName="customerDescription" (change)="lookupTable(1, 'customerId', 'customerDescription', customerDescription, 'customer', 'pickupPoint')" tabindex="2" id="customer">
            </div>
            <div class="field" [class.error]="isValidInput(pickupPointDescription, pickupPointId, pickupPoints)">
                <label for="pickupPoint">Pickup point</label>
                <input type="text" formControlName="pickupPointDescription" (change)="lookupTable(2, 'pickupPointId', 'pickupPointDescription', pickupPointDescription, 'pickupPoint', 'adults')" tabindex="3" id="pickupPoint">
            </div>
            <div class="fields">
                <div class="field numeric" [class.error]="isValidInput(adults)">
                    <label for="adults">Adults</label>
                    <input type="text" class="number" formControlName="adults" pattern="^[0-9]+[0-9]*$" (change)="calculateTotalPersons()" tabindex="4" id="adults">
                </div>
                <div class="field numeric" [class.error]="isValidInput(kids)">
                    <label for="kids">Kids</label>
                    <input type="text" class="number" formControlName="kids" pattern="^[0-9]+[0-9]*$" (change)="calculateTotalPersons()" tabindex="5" id="kids">
                </div>
                <div class="field numeric" [class.error]="isValidInput(kids)">
                    <label for="free">Free</label>
                    <input type="text" class="number" formControlName="free" pattern="^[0-9]+[0-9]*$" (change)="calculateTotalPersons()" tabindex="6" id="free">
                </div>
                <div class="field numeric total">
                    <label>Total</label>
                    <input type="text" class="number" formControlName="totalPersons" id="totalPersons">
                </div>
            </div>
            <div class="field" [class.error]="isValidInput(driverDescription, driverId, drivers)">
                <label for="driver">Driver</label>
                <input type="text" formControlName="driverDescription" (change)="lookupTable(3, 'driverId', 'driverDescription', driverDescription, 'driver', 'port')" tabindex="7" id="driver">
            </div>
            <div class="field" [class.error]="isValidInput(portDescription, portId, ports)">
                <label for="driver">Port</label>
                <input type="text" formControlName="portDescription" (change)="lookupTable(4, 'portId', 'portDescription', portDescription, 'port' ,'remarks')" tabindex="8" id="port">
            </div>
            <div class="field" [class.error]="isValidInput(remarks)">
                <label for="remarks">Remarks</label>
                <input type="text" formControlName="remarks" tabindex="9" id="remarks">
            </div>
        </div>
    </form>

    <div id="footer-form">
        <div class="ui divider"></div>
        <div id="buttons">
            <p [class.hidden]=false>{{ form.value | json }} {{ form.valid }} {{ isNewRecord }}</p>
            <button class="ui button delete" [class.hidden]="isNewRecord" id="delete" (click)="deleteRecord()">Delete</button>
            <button class="ui button primary" id="save" (click)="saveRecord()">Save</button>
        </div>
    </div>
</div>