<div id="header">
    <!-- <h2>Transfer</h2> -->
    <!-- </div> -->
    <!-- <p>{{ form.value | json }} {{ form.valid }}</p> -->
    <!-- <p>{{ form.dirty }}</p> -->
    <!-- <label>{{ form.value.id }}</label> -->
    <!-- <label>{{ form.value.userName }}</label> -->
    <!-- <label>{{ form.value.dateIn }}</label> -->
    <!-- <div class="ui divider"></div> -->
</div>

<div id="content">
    <form [formGroup]="form" class="ui form" autocomplete="off">
        <div id="left">
            <div class="field">
                <label for="destination">Destination</label>
                <div class="input">
                    <input type="text" list="destinationList" formControlName="destinationDescription" (change)="updateDestinationId(destinations, $event)" tabindex="1" id="destination">
                    <!-- <i *ngIf="(destinationId.invalid && destinationDescription.invalid) || (!arrayLookup(destinations, destinationDescription))" class="red exclamation triangle icon"></i> -->
                    <datalist id="destinationList">
                        <select>
                            <option *ngFor="let destination of destinations" [value]="destination.description"></option>
                        </select>
                    </datalist>
                </div>
            </div>
            <div class="field">
                <label for="customer">Customer</label>
                <div class="input">
                    <input type="text" list="customerList" formControlName="customerDescription" (change)="updateCustomerId(customers, $event)" tabindex="2" id="customer">
                    <!-- <i *ngIf="(customerId.invalid && customerDescription.invalid) || (!arrayLookup(customers, customerDescription))" class="red exclamation triangle icon"></i> -->
                    <datalist id="customerList">
                        <select>
                            <option *ngFor="let customer of customers" [value]="customer.description"></option>
                        </select>
                    </datalist>
                </div>
            </div>
            <div class="field">
                <label for="pickupPoint">Pickup point</label>
                <div class="input">
                    <input type="text" list="pickupPointList" formControlName="pickupPointDescription" (change)="updatePickupPointId(pickupPoints, $event)" tabindex="3" id="pickupPoint">
                    <!-- <i *ngIf="(pickupPointId.invalid && pickupPointDescription.invalid) || (!arrayLookup(pickupPoints, pickupPointDescription))" class="red exclamation triangle icon"></i> -->
                    <datalist id="pickupPointList">
                        <select>
                            <option *ngFor="let pickupPoint of pickupPoints" [value]="pickupPoint.description"></option>
                        </select>
                    </datalist>
                </div>
            </div>
            <div class="fields">
                <div class="field numeric">
                    <label for="adults">Adults</label>
                    <input type="text" class="number" formControlName="adults" pattern="^[0-9]+[0-9]*$" (change)="calculateTotalPersons()" tabindex="4" id="adults">
                </div>
                <div class="field numeric">
                    <label for="kids">Kids</label>
                    <input type="text" class="number" formControlName="kids" pattern="^[0-9]+[0-9]*$" (change)="calculateTotalPersons()" tabindex="5" id="kids">
                </div>
                <div class="field numeric">
                    <label for="free">Free</label>
                    <input type="text" class="number" formControlName="free" pattern="^[0-9]+[0-9]*$" (change)="calculateTotalPersons()" tabindex="6" id="free">
                </div>
                <div class="field numeric total">
                    <label>Total</label>
                    <input type="text" class="number" formControlName="totalPersons">
                </div>
            </div>
            <div class="field">
                <label for="driver">Driver</label>
                <div class="input">
                    <input type="text" list="driverList" formControlName="driverDescription" (change)="updateDriverId(drivers, $event)" tabindex="7" id="driver">
                    <!-- <i *ngIf="(driverId.invalid && driverDescription.invalid) || (!arrayLookup(drivers, driverDescription))" class="red exclamation triangle icon"></i> -->
                    <datalist id="driverList">
                        <select>
                            <option *ngFor="let driver of drivers" [value]="driver.description"></option>
                        </select>
                    </datalist>
                </div>
            </div>
            <div class="field">
                <label for="port">Port</label>
                <div class="input">
                    <input type="text" list="portList" formControlName="portDescription" (change)="updatePortId(ports, $event)" tabindex="8" id="port">
                    <!-- <i *ngIf="(portId.invalid && portDescription.invalid) || (!arrayLookup(ports, portDescription))" class="red exclamation triangle icon"></i> -->
                    <datalist id="portList">
                        <select>
                            <option *ngFor="let port of ports" [value]="port.description"></option>
                        </select>
                    </datalist>
                </div>
            </div>
            <div class="field">
                <label for="remarks">Remarks</label>
                <input type="text" formControlName="remarks" tabindex="9" id="remarks">
            </div>
        </div>
    </form>
</div>