@model Transfers.ViewModels.ResetPasswordViewModel

<section class="register-block">
    <div class="text-center mb-3 alert alert-warning alert-dismissible" *ngIf="invalidForgotPassword" role="alert">
        <strong *ngFor="let error of errorList">{{ error }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="container signLog">
        <div class="row">
            <div class="col-md-4 register-sec">
                <h2 class="text-center">Reset password</h2>
                <form class="login-form" method="post" asp-action="ResetPassword">
                    <p>Email: @Model.Email</p>
                    <input type="text" name="Email" asp-for="ResetPasswordViewModel.Email">
                    <div class="form-group">
                        <label for="password" class="text-uppercase">Password</label>
                        <input id="password" formControlName="password" type="password" class="form-control" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label for="cpassword" class="text-uppercase">Confirm Password</label>
                        <input id="cpassword" formControlName="cpassword" type="password" class="form-control" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <input id="register" type="submit" [disabled]="insertForm.invalid" class="btn btn-login btn-info btn-block" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>