<div id='main-header'>
    <h1>Tax offices</h1>
    <div id='search-box'>
        <input type='text' id='search-box' placeholder='Search...' #query (keyup)='filter(query.value)' autocomplete='off'>
    </div>
</div>

<div id='main-body'>
    <mat-nav-list>
        <a mat-list-item *ngFor='let taxOffice of filteredTaxOffices' routerLink='/taxOffices/{{ taxOffice.id}}'>{{ taxOffice.description }}</a>
    </mat-nav-list>
</div>

<div id='main-footer'>
    <button mat-fab [routerLink]='["/taxOffices/new"]'>
        <mat-icon>add</mat-icon>
    </button>
</div>