<div id="header">
    <div id="title">
        <h1>Ports</h1>
    </div>
    <div id="search-box">
        <form class="ui form" autocomplete="off">
            <div class="field">
                <div class="ui icon input">
                    <input type="text" id="searchField" #query (keyup)="filter(query.value)" autocomplete="off">
                    <i class="search icon"></i>
                </div>
            </div>
        </form>
    </div>
    <div class="ui divider"></div>
</div>

<div id="content">
    <div id="scrollable">
        <table class="ui celled table">
            <thead>
                <tr>
                    <th class="center aligned">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let port of filteredPorts" routerLink="/ports/{{ port.id }}">
                    <td>{{ port.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="footer">
    <div class="ui divider"></div>
    <div id="buttons">
        <button class="ui button primary" id="new" (click)="newRecord()">New</button>
    </div>
</div>