<div id="header">
    <div id="title">
        <h1>Ports</h1>
    </div>
    <div class="ui divider"></div>
    <div id="search-box">
        <div class="ui icon input">
            <i class="search icon"></i>
            <input type="text" placeholder="Search..." #query (keyup)="filter(query.value)" autocomplete="off">
        </div>
    </div>
</div>

<div id="content">
    <table class="ui sortable fixed table">
        <thead>
            <tr>
                <th class="center aligned">Description</th>
                <th class="center aligned two wide">User</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let port of filteredPorts" routerLink="/ports/{{ port.id }}">
                <td>{{ port.description }}</td>
                <td>{{ port.userName }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="footer">
    <div class="ui divider"></div>
    <div id="buttons">
        <button class="ui button primary" id="new" [routerLink]="['/ports/new']">New</button>
    </div>
</div>