<div id="header">
    <div>
        <i class="big arrow alternate circle left outline icon" [routerLink]="['/pickupPoints']"></i>
        <h2>Pickup point</h2>
        <!-- <p>{{ form.value | json }} {{ form.valid }}</p> -->
    </div>
    <div class="ui divider"></div>
</div>

<div id="content">
    <form [formGroup]='form' class="ui form" autocomplete='off'>
        <div id="left">
            <div class="field" [class.error]='(routeId.invalid && routeDescription.invalid && routeDescription.touched) || (routeDescription.touched && !arrayLookup(routes, routeDescription))'>
                <label for="routeList">Route</label>
                <input type="text" list="routeList" formControlName='routeDescription' (change)="updateRouteId(routes, $event)" tabindex="1" id="routeList">
                <datalist id="routeList">
                    <select>
                        <option *ngFor='let route of routes' [value]="route.description"></option>
                    </select>
                </datalist>
            </div>
            <div class="field" [class.error]="description.invalid && description.touched">
                <label for="description">Description</label>
                <input type="text" formControlName="description" tabindex="2" id="description">
            </div>
            <div class="field" [class.error]="exactPoint.invalid && exactPoint.touched">
                <label for="exactPoint">Exact point</label>
                <input type="text" formControlName="exactPoint" tabindex="3" id="exactPoint">
            </div>
            <div class="field" [class.error]="time.invalid && time.touched">
                <label for="time">Time</label>
                <input type="text" formControlName="time" tabindex="4" id="time">
            </div>
        </div>
    </form>
</div>

<div id="footer">
    <div class="ui divider"></div>
    <div id="buttons">
        <button class="ui button delete" (click)="delete()" [hidden]="!form.value.id">Delete</button>
        <button class="ui button primary" (click)="save()" [disabled]="!form.valid">Save</button>
    </div>
</div>