<div id="header">
    <div id="title">
        <h1>Pickup points</h1>
    </div>
    <div id="search-box">
        <form [formGroup]="form" class="ui form" autocomplete="off">
            <mat-form-field>
                <input type="text" matInput placeholder="Route" formControlName="routeDescription" tabindex="0" id="routeDescription" (change)="lookupIndex(routes, 'Routes','routeId', 'routeDescription', $event)">
                <mat-error *ngIf="routeDescription.invalid"></mat-error>
            </mat-form-field>
        </form>
    </div>
</div>

<div id="content">
    <div class="scrollable">
        <router-outlet></router-outlet>
    </div>
</div>

<div id="footer">
    <mat-divider></mat-divider>
    <div id="buttons">
        <button mat-flat-button class="primary" id="new" (click)="newRecord()">New</button>
    </div>
</div>