<mat-table [dataSource]="dataSource" id="dataTable">
    <ng-container *ngFor="let column of columns; index as i" [matColumnDef]="columns[i]">
        <mat-header-cell *matHeaderCellDef>{{ fields[i] }}</mat-header-cell>
        <mat-cell *matCellDef=" let element" ngClass="{{ align[i] }}">{{ element[columns[i]] | custom:format[i] }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;" [matRowKeyboardSelection]="selection" [rowModel]="row" [selectOnFocus]="true" [toggleOnEnter]="false" [ngClass]="{selected: selection.isSelected(row)}" (enter)="editRecord()" (dblclick)="editRecord()"></mat-row>
</mat-table>