<form #form='ngForm' autocomplete='off'>

    {{ pickupPoint | json }}

    <div id='header'>
        <h2>{{ subHeader }}</h2>
        <h1>Pickup point</h1>
    </div>

    <div id="section-one">
        <div class='field-wrapper'>
            <label for="route">Route</label>
            <select id="route" class="form-control" [(ngModel)]="pickupPoint.routeId" name="routeId" #route="ngModel" required>
                <option value="">Select</option>
                <option *ngFor='let route of routes' value='{{ route.id }}'>{{ route.description }}</option>
            </select>
        </div>
        <div class='field-wrapper'>
            <mat-form-field>
                <input matInput placeholder='Description' [(ngModel)]="pickupPoint.description" name='description' #description="ngModel" required>
            </mat-form-field>
        </div>
        <div class='field-wrapper'>
            <mat-form-field>
                <input matInput placeholder='Exact point' [(ngModel)]="pickupPoint.exactPoint" name='exactPoint' #exactPoint="ngModel" required>
            </mat-form-field>
        </div>
        <div class='field-wrapper'>
            <mat-form-field>
                <input matInput placeholder='Time' [(ngModel)]="pickupPoint.time" name='tiem' #tiem="ngModel" required>
            </mat-form-field>
        </div>
    </div>

    <div id='footer'>
        <div class='button-wrapper'>
            <button type='button' mat-button (click)='goBack()'>Back</button>
            <button type='button' mat-button color='warn' (click)='delete()' [class.hidden]='isNewRecord'>Delete</button>
            <button type='button' mat-raised-button color='primary' (click)='save()'>Save</button>
        </div>
    </div>

</form>