<h2 mat-dialog-title>{{ header }}</h2>

<section class="scrollable">
    <mat-table [dataSource]="dataSource" id="dataTable">
        <ng-container *ngFor="let column of columns; index as i" [matColumnDef]="columns[i]">
            <mat-header-cell *matHeaderCellDef> {{ fields[i] }} </mat-header-cell>
            <mat-cell *matCellDef=" let element" ngClass="{{ align[i] }}">{{ element[columns[i]] | custom:format[i] }} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns;" [matRowKeyboardSelection]="selection" [rowModel]="row" [selectOnFocus]="true" [toggleOnEnter]="false" [ngClass]="{selected: selection.isSelected(row)}"></mat-row>
    </mat-table>
</section>

<mat-dialog-actions>
    <button class="mat-flat-button secondary" mat-button mat-dialog-close mat-dialog-close="false">Cancel</button>
    <button class="mat-flat-button primary" (click)="close()">OK</button>
</mat-dialog-actions>