@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Orbitron");
@import url('https://fonts.googleapis.com/css?family=Play');

* {
    box-sizing: border-box !important;
}

body, h1, h2 {
    margin: 0 !important;
}

h1, h2, h3 {
    color: #939393 !important;
}

.hidden {
    display: none !important;
}

.date {
    text-align: center;
}

.dummy {
    border: 0 !important;
    padding: 0 !important;
    width: 0 !important;
}

select {
    height: 38px !important;
}

button.solid {
    background-color: #D67474 !important;
    border: 1px solid #D67474 !important;
    color: #ffffff !important;
}

button.secondary {
    background-color: #ffffff !important;
    border: 1px solid #D67474 !important;
    color: #D67474 !important;
}
