#sidebar {
    background-color: var(--color-sidebar-background);
    display: grid;
    grid-template-areas:
        "userInfo"
        "companyLogo"
        "image"
        "menu"
        "copyright";
    grid-template-rows: min-content min-content min-content auto min-content;
    height: 100vh;
    overflow: hidden;
    position: sticky;
    transition: 0.7s;
    z-index: 2;
}

#userInfo {
    color: var(--color-user-info);
    font-family: var(--font-family-user-info);
    font-size: var(--font-size-user-info);
    margin: 1.5rem auto 0;
    min-height: 1rem;
    text-align: center;
}

#companyLogo {
    cursor: pointer;
    margin: 0.5rem auto 1.6rem;
    outline: 0;
    text-align: center;
}

#companyLogo {
    font-family: var(--font-family-logo);
}

#companyLogo>:first-child {
    color: var(--color-company-logo-first-child) !important;
    font-size: var(--font-size-logo-first-child) !important;
    margin: 0;
}

#companyLogo>:last-child {
    color: var(--color-company-logo-second-child) !important;
    font-size: var(--font-size-logo-second-child) !important;
    font-weight: normal !important;
    margin: -1rem 0 0 0 !important;
}

#image {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0.625rem auto;
    outline: 0;
}

#image img {
    z-index: 1;
}

#double-ring {
    display: flex;
    background: url(../../../../assets/logo-double-ring.gif) right bottom no-repeat var(--color-background);
    width: 150px;
    height: 150px;
    position: absolute;
}

#menu {
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 1.4rem 0 1rem 0;
}

#menu ul {
    color: var(--color-menu-list-items);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-menu-list-items);
    font-size: var(--font-size-menu-list-items);
    line-height: 2.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#menu ul>li {
    outline: 0;
    transition: font-size;
    transition-duration: 200ms;
}

#menu ul>li:last-child {
    margin-top: auto;
}

#menu ul>li:hover, #menu ul>li.active {
    color: var(--color-menu-active-item);
    cursor: pointer;
    font-size: var(--font-size-menu-list-item-active);
}

#copyright {
    color: var(--color-copyright);
    font-family: var(--font-family-copyright);
    font-size: var(--font-size-copyright);
    margin: 0 auto 1.5rem;
    text-align: center;
}

/* Small heights = hide bus circle */
@media only screen and (max-height: 60rem) {
    #sidebar {
        grid-template-areas:
            "userInfo"
            "companyLogo"
            "menu"
            "copyright";
        grid-template-rows: min-content min-content auto min-content;
    }

    #image {
        display: none;
    }

    #menu {
        padding: 0 0 1rem 0;
    }

    #menuItems {
        line-height: 2rem !important;
    }
}

/* ! Wide = menu always visible */
@media only screen and (min-width: 1367px) {
    #sidebar {
        width: 17rem !important;
    }

    #section {
        margin-left: 17rem !important;
    }
}

/* ! Narrow = menu always hidden */
@media only screen and (max-width: 1366px) {
    #sidebar {
        width: 0;
    }

    #section {
        margin-left: 0;
    }
}