<div id="sidebar">
    <div id="userInfo">
        <div>
            <div>Hello, John!</div>
        </div>
    </div>
    <div id="companyLogo" [routerLink]="['/']">
        <p>People</p>
        <p>movers</p>
    </div>
    <div id="image" [routerLink]="['/']">
        <img src="1.png">
    </div>
    <div id="menu">
        <ul id="menuItems" (click)="closeSidebar()">
            <li [routerLink]="['/customers']" routerLinkActive="active">Customers</li>
            <li [routerLink]="['/destinations']" routerLinkActive="active">Destinations</li>
            <li [routerLink]="['/drivers']" routerLinkActive="active">Drivers</li>
            <li [routerLink]="['/pickupPoints']" routerLinkActive="active">Pickup points</li>
            <li [routerLink]="['/ports']" routerLinkActive="active">Ports</li>
            <li [routerLink]="['/routes']" routerLinkActive="active">Routes</li>
            <li [routerLink]="['/taxOffices']" routerLinkActive="active">Tax Offices</li>
            <li [routerLink]="['/vatStates']" routerLinkActive="active">VAT Regimes</li>
            <li [routerLink]="['/transfers']" routerLinkActive="active">Transfers</li>
            <li (click)="logout()" routerLinkActive="active">Logout</li>
        </ul>
    </div>
    <div id="copyright">Created with .NET Core<br />and Angular</div>
</div>