<form [formGroup]='form' autocomplete='off'>

    <div id='header'>
        <h2>{{ subHeader }}</h2>
        <h1>Country</h1>
    </div>

    <div id="section">
        <input type='text' formControlName='countryId' hidden>
        <div class='field-wrapper'>
            <mat-form-field>
                <input matInput placeholder='Description' formControlName='description' required>
                <mat-error *ngIf='description.invalid'>{{ getErrorMessage() }}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div id='footer'>
        <div class='button-wrapper'>
            <button type='button' mat-button (click)='goBack()'>Back</button>
            <button type='button' mat-button color='warn' (click)='delete()' [class.hidden]='isNewRecord'>Delete</button>
            <button type='button' mat-raised-button color='primary' (click)='save()'>Save</button>
        </div>
    </div>

</form>