#results {
    display: grid;
    grid-template-areas:
        "listFormCombo";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    margin-left: 2rem;
}

#listFormCombo {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    grid-area: listFormCombo;
    height: 100%;
    justify-content: flex-start;
    overflow-y: hidden;
}

#pickupPointList {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.scrollable {
    margin: 2rem 2rem 0 2rem;
    width: auto;
}

#footer {
    margin: 2rem;
}

#footer #buttons {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}