<div id="header" *ngIf="this.activeRoute != 'form'; else elseBlock">
    <div id="title">
        <h1>Pickup points</h1>
    </div>
    <div id="search-box">
        <mat-form-field>
            <mat-label>Routes</mat-label>
            <mat-select [(value)]="id" (selectionChange)="onLoadPickupPoints($event)">
                <mat-option *ngFor=" let route of routes" [value]="route.id">
                    {{ route.description }}
                </mat-option>
            </mat-select>
            <mat-hint>Select from the list</mat-hint>
        </mat-form-field>
    </div>
</div>
<ng-template #elseBlock>
    <div id="header">
        <div id="title">
            <button mat-mini-fab class="navigation">
                <mat-icon id="goBack" (click)="onGoBack()">arrow_back</mat-icon>
            </button>
            <h1>Pickup point</h1>
        </div>
    </div>
</ng-template>

<div id="main">
    <router-outlet></router-outlet>
</div>