#content {
    align-content: flex-start;
    border-top: 1px solid var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

#content form {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

#footer {
    margin: 0;
}

#footer #buttons {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}