<div id='main-header'>
    <h1>Destinations</h1>
    <div id='search-box'>
        <input type='text' id='search-box' placeholder='Search...' #query (keyup)='filter(query.value)' autocomplete='off'>
    </div>
</div>

<div id='main-body'>
    <ul>
        <li>1</li>
        <li>2</li>
    </ul>
    <ul>
        <li *ngFor='let destination of filteredDestinations' routerLink='/destinations/{{ destination.id}}'>{{ destination.description }}</li>
    </ul>
</div>

<div id='main-footer'>
    <button [routerLink]='["/destinations/new"]'>New</button>
</div>