<div id="main-content">

    <!-- <p>{{ form.value | json }} {{ form.valid }}</p> -->

    <div id="header">
        <h1>Destination</h1>
    </div>

    <div id="main">
        <form [formGroup]='form' class="ui form" autocomplete='off'>
            <div class="field">
                <label>Abbreviation</label>
                <input type="text" placeholder='Abbreviation' formControlName='shortDescription' required>
            </div>
            <div class="field">
                <label>Description</label>
                <input type="text" placeholder='Description' formControlName='description' required>
            </div>
        </form>
    </div>

    <div id="footer">
        <button class="ui button" (click)="delete()" [class.hidden]='id == null'>Save</button>
        <button class="ui button" (click)="save()">Save</button>
    </div>

</div>