<div id="header">
    <div id="title">
        <h2>Destinations</h2>
    </div>
    <div class="ui divider"></div>
    <div id="search-box">
        <div class="ui icon input">
            <i class="search icon"></i>
            <input type="text" placeholder="Search..." #query (keyup)="filter(query.value)" autocomplete="off">
        </div>
    </div>
</div>

<div id="content">
    <table class="ui sortable fixed table">
        <thead>
            <tr>
                <th class="center aligned">Description</th>
                <th class="center aligned two wide">User</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let destination of filteredDestinations" routerLink="/destinations/{{ destination.id }}">
                <td>{{ destination.description }}</td>
                <td>{{ destination.userName }}</td>
            </tr>
        </tbody>
    </table>
</div>





<div id="footer">
    <div id="buttons">
        <button class="ui button solid" id="new" [routerLink]="['/destinations/new']">New</button>
    </div>
</div>