<div id="header">
    <div>
        <h2>Login</h2>
        <div id="close" [routerLink]="['/']">X</div>
        <!-- <p>{{ form.value | json }} {{ form.valid }}</p> -->
    </div>
    <div class="ui divider"></div>
</div>

<div id="content">
    <form [formGroup]='form' class="ui form" autocomplete='on'>
        <div id="left">
            <div class="field" [class.error]="userName.invalid && userName.touched">
                <label>Username</label>
                <input type="text" formControlName="userName">
            </div>
            <div class="field" [class.error]="password.invalid && password.touched">
                <label>Password</label>
                <input type="password" formControlName="password">
            </div>
        </div>
    </form>
</div>

<div id="footer">
    <div class="ui divider"></div>
    <div id="buttons">
        <button class="ui button solid" (click)="login()" [disabled]="!form.valid">Login</button>
    </div>
</div>