<div id="header">
    <div>
        <h1>Login</h1>
        <!-- <p>{{ form.value | json }} {{ form.valid }}</p> -->
    </div>
    <div class="ui divider"></div>
</div>

<div id="content">
    <form [formGroup]="form" autocomplete="off">
        <div id="left">
            <div class="field" [class.error]="userName.invalid && userName.touched">
                <label>Username</label>
                <input type="text" formControlName="userName" />
            </div>
            <div class="field" [class.error]="password.invalid && password.touched">
                <label>Password</label>
                <input type="password" formControlName="password" />
            </div>
        </div>
    </form>
</div>

<div id="footer">
    <div class="ui divider"></div>
    <div id="buttons">
        <button mat-flat-button class="primary" (click)="login()">
            Login
        </button>
    </div>
</div>