 #main-content {
     background-color: #ffffff;
     display: grid;
     grid-template-areas:
         "header"
         "main"
         "footer";
     grid-template-rows: min-content auto min-content;
     justify-content: center;
     max-width: 61.25rem;
     height: 100%;
 }

 #header {
     margin-bottom: 2rem;
 }

 #main {
     justify-content: center;
     margin: 0 auto;
 }

 #footer {
     justify-content: center;
     margin-top: 2rem;
     text-align: right;
 }

 h1 {
     color: #c9c9c9;
     font-family: "Orbitron";
     font-weight: normal;
     padding: 0;
 }

 input {
     width: 400px !important;
 }

 button {
     background-color: #D67474 !important;
     color: white !important;
     margin: 0 !important;
 }
