<div id="main-content">

    <div id="header">
        <h1>Login</h1>
    </div>

    <div id="main">
        <form [formGroup]='form' class="ui form" autocomplete='off'>
            <div class="field">
                <label>Username</label>
                <input type="text" placeholder='Username' formControlName='userName' required>
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" placeholder='Password' formControlName='password' required>
            </div>
        </form>
    </div>

    <div id="footer">
        <button class="ui button" (click)="login()">Login</button>
    </div>

</div>