<div class="dialog">
    <div class="modal-header modal-block-primary">
        <h4 class="modal-title">{{ title }}</h4>
        <button type="button" class="close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
    </div>
    <div class="modal-body">
        <i *ngIf="type=='question'" class="yellow huge exclamation triangle icon"></i>
        <i *ngIf="type=='delete'" class="yellow huge trash alternate icon"></i>
        <i *ngIf="type=='error'" class="red huge times circle icon"></i>
        <p>{{ message }}</p>
    </div>
    <div class="modal-footer">
        <button *ngIf="type!='error'" class="ui facebook button" (click)="action(false)">Cancel</button>
        <button class="ui twitter button right" (click)="action(true)">OK</button>
    </div>
</div>