<div id="header">
    <div>
        <i class="big arrow alternate circle left outline icon" [routerLink]="['/customers']"></i>
        <h2>Customer</h2>
    </div>
    <!-- <p>{{ form.value | json }} {{ form.valid }}</p> -->
    <!-- <p>{{ form.dirty }}</p> -->
    <div class="ui divider"></div>
</div>

<div id="content">
    <form [formGroup]='form' class="ui form" autocomplete='off'>
        <div id="left">
            <div class="field" [class.error]="description.invalid && description.touched">
                <label for="description">Description</label>
                <input type="text" formControlName="description" tabindex="1" id="description">
            </div>
            <div class="field" [class.error]="profession.invalid && profession.touched">
                <label for="profession">Profession</label>
                <input type="text" formControlName="profession" tabindex="2" id="profession">
            </div>
            <div class="field" [class.error]="address.invalid && address.touched">
                <label for="address">Address</label>
                <input type="text" formControlName="address" tabindex="3" id="address">
            </div>
            <div class="field" [class.error]="phones.invalid && phones.touched">
                <label for="phones">Phones</label>
                <input type="text" formControlName="phones" tabindex="4" id="phones">
            </div>
            <div class="field" [class.error]="personInCharge.invalid && personInCharge.touched">
                <label for="personInCharge">Person in charge</label>
                <input type="text" formControlName="personInCharge" tabindex="5" id="personInCharge">
            </div>
        </div>
        <div id="right">
            <div class="field" [class.error]="email.invalid && email.touched">
                <label for="email">Email</label>
                <input type="text" formControlName="email" tabindex="6" id="email">
            </div>
            <div class="field" [class.error]="taxNo.invalid && taxNo.touched">
                <label for="taxNo">Tax number</label>
                <input type="text" formControlName="taxNo" tabindex="7" id="taxNo">
            </div>
            <div class="field" [class.error]="accountCode.invalid && accountCode.touched">
                <label for="accountCode">Account code</label>
                <input type="text" formControlName="accountCode" tabindex="8" id="accountCode">
            </div>
            <div class="field" [class.error]='(taxOfficeId.invalid && taxOfficeDescription.invalid && taxOfficeDescription.touched) || (taxOfficeDescription.touched && !arrayLookup(taxOffices, taxOfficeDescription))'>
                <label for="taxOffice">Tax office</label>
                <input type="text" list="taxOfficeList" formControlName='taxOfficeDescription' (change)="updateTaxOfficeId(taxOffices, $event)" tabindex="9" id="taxOffice">
                <datalist id="taxOfficeList">
                    <select>
                        <option *ngFor='let taxOffice of taxOffices' [value]="taxOffice.description"></option>
                    </select>
                </datalist>
            </div>
            <div class="field" [class.error]='(vatStateId.invalid && vatStateDescription.invalid && vatStateDescription.touched) || (vatStateDescription.touched && !arrayLookup(vatStates, vatStateDescription))'>
                <label for="vatState">VAT Regime</label>
                <input type="text" list="vatStateList" formControlName='vatStateDescription' (change)="updateVatStateId(vatStates, $event)" tabindex="10" id="vatState">
                <datalist id="vatStateList">
                    <select>
                        <option *ngFor='let vatState of vatStates' [value]="vatState.description"></option>
                    </select>
                </datalist>
            </div>
        </div>
    </form>
</div>

<div id="footer">
    <div class="ui divider"></div>
    <div id="buttons">
        <button class="ui button delete" (click)="delete()" [hidden]="!form.value.id">Delete</button>
        <button class="ui button primary" (click)="save()">Save</button>
    </div>
</div>