/*  */
:host {
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-rows: max-content 1fr max-content;
    height: 100%;
}

/*  */
#header {
    grid-area: "header";
    margin: 2rem 2rem 0 2rem;
}

/*  */
#content {
    display: grid;
    grid-area: "content";
    justify-content: center;
    margin: 0 2rem;
}

/*  */
#content form {
    display: grid;
    grid-gap: 0.625rem;
    grid-template-areas:
        "section-one section-two";
    grid-template-columns: 1fr, 1fr;
    height: 100%;
}

/*  */
#footer {
    grid-area: "footer";
    margin: 0 2rem 2rem 2rem;
    text-align: right;
}

/*  */
.ui.divider {
    margin: 2rem 0;
}

/*  */
button.ui.button#save {
    color: #ffffff !important;
    background-color: #D67474 !important;
    margin: 0;
}

/*  */
.field {
    width: 400px;
}

/*  */
h2 {
    color: #D67474;
    font-family: "Orbitron";
    font-weight: bold;
    height: 25px;
}

/*  */
#section-one {
    grid-area: "section-one"
}

/*  */
#section-two {
    grid-area: "section-two"
}

/*  */
@media only screen and (max-width:1280px) {

    h2 {
        margin-left: 3rem !important;
    }
}
