<div id="header">
    <h2>Customers</h2>
    <div id="search-box">
        <div class="ui icon input">
            <i class="search icon"></i>
            <input type="text" placeholder="Search..." #query (keyup)="filter(query.value)" autocomplete="off">
        </div>
    </div>
</div>

<div id="body">
    <table class="ui selectable sortable fixed table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phones</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of filteredCustomers" routerLink="/customers/{{ customer.id}}">
                <td>{{ customer.description}}</td>
                <td>{{ customer.phones}}</td>
                <td>{{ customer.email}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="footer">
    <button class="ui button" [routerLink]="['/customers/new']">New</button>
</div>