<div id="header">
    <div>
        <h2>Customer</h2>
        <div id="close" [routerLink]="['/customers']">X</div>
        <!-- <p>{{ form.value | json }} {{ form.valid }}</p> -->
    </div>
    <div class="ui divider"></div>
</div>

<div id="content">
    <form [formGroup]='form' class="ui form" autocomplete='off'>
        <div id="left">
            <input type="text" formControlName="userName">
            <div class="field" [class.error]="description.invalid && description.touched">
                <label>Description</label>
                <input type="text" formControlName="description">
            </div>
            <div class="field" [class.error]="profession.invalid && profession.touched">
                <label>Profession</label>
                <input type="text" formControlName="profession">
            </div>
            <div class="field" [class.error]="address.invalid && address.touched">
                <label>Address</label>
                <input type="text" formControlName="address">
            </div>
            <div class="field" [class.error]="phones.invalid && phones.touched">
                <label>Phones</label>
                <input type="text" formControlName="phones">
            </div>
            <div class="field" [class.error]="personInCharge.invalid && personInCharge.touched">
                <label>Person in charge</label>
                <input type="text" formControlName="personInCharge">
            </div>
        </div>
        <div id="right">
            <div class="field" [class.error]="email.invalid && email.touched">
                <label>Email</label>
                <input type="text" formControlName="email">
            </div>
            <div class="field" [class.error]="taxNo.invalid && taxNo.touched">
                <label>Tax number</label>
                <input type="text" formControlName="taxNo">
            </div>
            <div class="field" [class.error]="accountCode.invalid && accountCode.touched">
                <label>Account code</label>
                <input type="text" formControlName="accountCode">
            </div>
            <div class="field" [class.error]='(taxOfficeId.invalid && taxOfficeDescription.invalid && taxOfficeDescription.touched) || (taxOfficeDescription.touched && !arrayLookup(taxOffices, taxOfficeDescription))'>
                <label>Tax office</label>
                <input type="text" list="taxOfficeList" formControlName='taxOfficeDescription' (change)="updateTaxOfficeId(taxOffices, $event)">
                <datalist id="taxOfficeList">
                    <select>
                        <option *ngFor='let taxOffice of taxOffices' [value]="taxOffice.description"></option>
                    </select>
                </datalist>
            </div>
            <div class="field" [class.error]='(vatStateId.invalid && vatStateDescription.invalid && vatStateDescription.touched) || (vatStateDescription.touched && !arrayLookup(vatStates, vatStateDescription))'>
                <label>VAT Regime</label>
                <input type="text" list="vatStateList" formControlName='vatStateDescription' (change)="updateVatStateId(vatStates, $event)">
                <datalist id="vatStateList">
                    <select>
                        <option *ngFor='let vatState of vatStates' [value]="vatState.description"></option>
                    </select>
                </datalist>
            </div>
        </div>
    </form>
</div>

<div id="footer">
    <div class="ui divider"></div>
    <div id="buttons">
        <button class="ui button secondary" (click)="delete()" [hidden]="!form.value.id">Delete</button>
        <button class="ui button solid" (click)="save()" [disabled]="!form.valid">Save</button>
    </div>
</div>