/* Variables */
.mat-toolbar {
    --background: #8C051B;
    --width: 77.5rem;
}

.mat-button {
    --button-font-size: 1rem;
}

#menu {
    margin-top: 0.0625rem;
}

/* Elements */
.mat-toolbar {
    background: var(--background-color);
    width: var(--width);
}

.mat-button {
    font-size: var(--button-font-size);
}

.spacer {
    flex: 1 1 auto;
}