<div *ngIf='this.service.isLoggedIn() && !this.service.isTokenExpired()'>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]='["/customers"]'>Customers</button>
        <button mat-menu-item [routerLink]='["/pickups"]'>Pickups</button>
        <button mat-menu-item [routerLink]='["/destinations"]'>Destinations</button>
        <button mat-menu-item [routerLink]='["/pickuppoints"]'>Pickup points</button>
        <button mat-menu-item [routerLink]='["/routes"]'>Routes</button>
        <button mat-menu-item [routerLink]='["/taxOffices"]'>Tax Offices</button>
        <button mat-menu-item [routerLink]='["/transferTypes"]'>Transfer types</button>
        <button mat-menu-item [routerLink]='["/vatStates"]'>VAT States</button>
        <button mat-menu-item (click)='logout()'>Logout</button>
    </mat-menu>
</div>

<button *ngIf='!this.service.isLoggedIn() || this.service.isTokenExpired()' mat-button [routerLink]='["/login"]'>Login</button>