* {
    box-sizing: border-box !important;
}

#index-dialog {
    background-color: var(--color-table-background);
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

#index-dialog-header {
    grid-area: header;
    margin: 0;
    padding: 1rem;
}

#index-dialog-header h1 {
    color: #FFE85C;
}

#index-dialog-content {
    grid-area: content;
    margin: 1rem 1rem 1rem 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

#index-dialog-footer {
    grid-area: footer;
    padding: 1rem;
    text-align: end;
    width: 100%;
}

.hidden-scrollbar::-webkit-scrollbar {
    visibility: hidden;
}

#index-dialog-content::-webkit-scrollbar {
    width: 0.5rem;
}

#index-dialog-content::-webkit-scrollbar-track {
    background-color: var(--color-scrollbar-background);
    margin-top: 53px;
}

#index-dialog-content::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: 0;
    min-height: 328px;
}