<div id="header">
    <div>
        <h2>Route</h2>
        <div id="close" [routerLink]="['/routes']">X</div>
        <!-- <p>{{ form.value | json }} {{ form.valid }}</p> -->
    </div>
    <div class="ui divider"></div>
</div>

<div id="content">
    <form [formGroup]='form' class="ui form" autocomplete='off'>
        <div id="left">
            <div class="field" [class.error]="shortDescription.invalid && shortDescription.touched">
                <label>Abbreviation</label>
                <input type="text" formControlName="shortDescription">
            </div>
            <div class="field" [class.error]="description.invalid && description.touched">
                <label>Description</label>
                <input type="text" formControlName="description">
            </div>
        </div>
    </form>
</div>

<div id="footer">
    <div class="ui divider"></div>
    <div id="buttons">
        <button class="ui button" id="secondary" (click)="delete()" [hidden]="!form.value.id">Delete</button>
        <button class="ui button" id="primary" (click)="save()" [disabled]="!form.valid">Save</button>
    </div>
</div>