<div id="header">
    <div>
        <i class="big arrow alternate circle left outline icon" [routerLink]="['/routes']"></i>
        <h2>Route</h2>
        <!-- <p>{{ form.value | json }} {{ form.valid }}</p> -->
    </div>
    <div class="ui divider"></div>
</div>

<div id="content">
    <form [formGroup]='form' class="ui form" autocomplete='off'>
        <div id="left">
            <div class="field" [class.error]="abbreviation.invalid && abbreviation.touched">
                <label for="abbreviation">Abbreviation</label>
                <input type="text" formControlName="abbreviation" tabindex="1" id="abbreviation">
            </div>
            <div class="field" [class.error]="description.invalid && description.touched">
                <label for="description">Description</label>
                <input type="text" formControlName="description" tabindex="2" id="description">
            </div>
            <div class="field" [class.error]='(portId.invalid && portDescription.invalid && portDescription.touched) || (portDescription.touched && !arrayLookup(ports, portDescription))'>
                <label for="departurePort">Departure port</label>
                <input type="text" list="portList" formControlName='portDescription' (change)="updatePortId(ports, $event)" tabindex="3" id="departurePort">
                <datalist id="portList">
                    <select>
                        <option *ngFor='let port of ports' [value]="port.description"></option>
                    </select>
                </datalist>
            </div>
        </div>
    </form>
</div>

<div id="footer">
    <div class="ui divider"></div>
    <div id="buttons">
        <button class="ui button delete" (click)="delete()" [hidden]="!form.value.id">Delete</button>
        <button class="ui button primary" (click)="save()" [disabled]="!form.valid">Save</button>
    </div>
</div>