<div id="header">
    <div id="navigation">
        <button mat-mini-fab class="navigation">
            <mat-icon id="goBack" (click)="goBack()">arrow_back</mat-icon>
        </button>
    </div>
    <div id="title">
        <h1>Route</h1>
    </div>
    <mat-divider></mat-divider>
</div>

<div id="content">
    <form [formGroup]='form' class="ui form" autocomplete='off'>
        <mat-form-field>
            <input type="text" matInput placeholder="Abbreviation" formControlName="abbreviation" tabindex="1" id="abbreviation">
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Description" formControlName="description" tabindex="2" id="description">
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Port" formControlName="portDescription" tabindex="3" id="portDescription" (change)="lookupIndex(ports, 'Ports','portId', 'portDescription', $event)">
            <mat-error *ngIf="portDescription.invalid"></mat-error>
        </mat-form-field>
    </form>
</div>

<div id="footer">
    <mat-divider></mat-divider>
    <div id="buttons">
        <p class="form-value" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
        <button class="mat-flat-button delete" [class.hidden]="!id" id="delete" (click)="deleteRecord()">Delete</button>
        <button class="mat-flat-button primary" id="save" (click)="saveRecord()">Save</button>
    </div>
</div>