section {
    background-color: var(--color-background);
    display: grid;
    grid-template-areas: "sidebar""main";
    grid-template-columns: auto 1fr;
    height: 100vh;
    overflow: hidden;
    transition: margin-left 0.7s;
}

#spinner {
    background: url(../../assets/ripple.gif) center center no-repeat var(--color-background);
    height: 50px;
    margin-left: 2.6rem;
    position: absolute;
    width: 50px;
    z-index: 2;
}