#container {
    display: grid;
    grid-template-areas:
        "user"
        "navigation"
        "main"
        "footer";
    grid-template-rows: max-content max-content 1fr max-content;
    grid-template-columns: 1fr;
    height: 100vh;
}