
@model List<Transfers.Models.Customer>

<html>
<head>
    <style>
        body{ font-family: "Arial"; font-size: 14px;}
        .car-name {
            color: darkgray;
        }

        .car-max-speed {
            color: tomato;
        }

        .car-registration {
            color: brown;
        }
    </style>
</head>
<body>
    @foreach (var customer in Model)
    {
        <div>
            <span>Car name:</span>
            <span class="car-name">@customer.Description</span>
        </div>
    }
</body>
</html>