@model List<Transfers.Models.Port>

<html>
    <head>
        <style>
            body { font-family: "Tahoma"; font-size: 14px; }
        </style>
    </head>
    <body>
        @{
            foreach (var port in Model)
            {
                <div>
                    <span>@port.Description</span>
                </div>
            }
        }
    </body>
</html>