#navigation {
    background-color: var(--light-color);
    color: var(--color);
    grid-area: navigation;
    text-align: left;
}

#navbar {
    align-items: center;
    color: var(--color);
    display: flex;
    font-size: 0.75rem;
    justify-content: space-between;
    padding: 0.25rem 1.25rem;
}

#logo {
    margin: 0 0 0.3125rem 0.25rem;
}

#logo small {
    font-family: Play;
    font-size: 2.5rem;
}

#green {
    color: #79DB9A;
}
