<div id="header">
    <div id="title">
        <h1>Password reset</h1>
    </div>
    <mat-divider></mat-divider>
</div>

<div id="content">
    <form [formGroup]="form" autocomplete="off">
        <div id="section-one">
            <mat-form-field>
                <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="New password" formControlName="password" data-tabindex="1" id="password" [inputTabStop]="input">
                <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="Password?.touched && Password?.invalid">
                    <mat-error *ngIf="Password.errors?.required">This field is required</mat-error>
                    <mat-error *ngIf="Password.errors?.minlength">This field must be at least {{ Password.errors.minlength.requiredLength }} characters long</mat-error>
                    <mat-error *ngIf="Password.errors?.maxlength">This field can be up to {{ Password.errors.maxlength.requiredLength }} characters long</mat-error>
                    <mat-error *ngIf="Password.errors?.cannotContainSpace">Spaces are not allowed</mat-error>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Confirm new password" formControlName="confirmPassword" data-tabindex="2" id="confirmPassword" [inputTabStop]="input" [errorStateMatcher]="errorMatcher">
                <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="form.hasError('passwordsDoNotMatch')">Passwords do not match!</mat-error>
            </mat-form-field>
            <p class="instructions" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
        </div>
    </form>
</div>

<div id="footer">
    <mat-divider></mat-divider>
    <div id="buttons">
        <button mat-flat-button class="primary" id="save" [disabled]="!form.valid" (click)="onSave()">Submit</button>
    </div>
</div>