<div id="index-dialog">

    <div id="index-dialog-header">
        <h1>{{ title }}</h1>
    </div>

    <div id="index-dialog-content">
        <app-table [records]="data.records" [headers]="data.headers" [widths]="data.widths" [visibility]="data.visibility" [justify]="data.justify" [fields]="data.fields" (selectEvent)="select($event)"></app-table>
    </div>

    <div id="index-dialog-footer">
        <button id="close" mat-flat-button class="primary" [mat-dialog-close]="selectedRecord">Select</button>
        <!-- {{ selectedRecord | json }} -->
    </div>

</div>