.modal-header {
    border: none;
    padding: 0 10px 10px 10px;
}

.modal-title {
    font-size: var(--font-size-modal-headers);
    font-family: var(--font-family-modal-header);
}

.modal-body {
    display: flex;
    height: 300px;
    overflow-y: auto;
    padding-right: 5px;
}

.modal-body p {
    margin-left: 1.5rem !important;
    font-size: var(--font-size-modal-messages);
}

.modal-footer {
    border: none;
    padding-top: 2rem;
}

.selected {
    background-color: burlywood;
}

table {
    width: 100%;
}

tr {
    cursor: pointer;
}

tr.mat-row.selected {
    background-color: lightpink;
    outline: none;
}

th.mat-header-cell {
    font-family: 'Lato';
    font-size: 1.8rem;
    padding: 0 10px !important;
}

td.mat-cell {
    padding: 0 10px;
}