#footer {
    background-color: var(--dark-color);
    color: var(--color);
    grid-area: footer;
    text-align: right;
}

#footer-details {
    align-items: center;
    color: var(--color);
    display: flex;
    font-size: 0.75rem;
    justify-content: flex-end;
    padding: 0.625rem 1.5625rem 0.625rem 1.25rem;
}