<div id="sidebar">
	<div id="userInfo">
		<div *ngIf="this.service.isLoggedIn() && !this.service.isTokenExpired()">Hello, {{ userName() }}</div>
		<div *ngIf="!this.service.isLoggedIn() || this.service.isTokenExpired()">You are not connected</div>
	</div>
	<div id="logo">
		<div>People</div>
		<div>movers</div>
	</div>
	<div id="image">
		<img src="Round.svg">
	</div>
	<div id="menu">
		<ul id="menuItems" (click)="closeSidebar()">
			<li [routerLink]="['/customers']" routerLinkActive="active">Customers</li>
			<li [routerLink]="['/destinations']" routerLinkActive="active">Destinations</li>
			<li [routerLink]="['/drivers']" routerLinkActive="active">Drivers</li>
			<li [routerLink]="['/pickuppoints/']" routerLinkActive="active">Pickup points</li>
			<li [routerLink]="['/ports/']" routerLinkActive="active">Ports</li>
			<li [routerLink]="['/routes/']" routerLinkActive="active">Routes</li>
			<li [routerLink]="['/taxOffices/']" routerLinkActive="active">Tax Offices</li>
			<li [routerLink]="['/vatStates/']" routerLinkActive="active">VAT Regimes</li>
			<li [routerLink]="['/transfers/']" routerLinkActive="active">Transfers</li>
			<li *ngIf="!this.service.isLoggedIn() || this.service.isTokenExpired()" [routerLink]="['/login']" routerLinkActive="active">Login</li>
			<li *ngIf="this.service.isLoggedIn() && !this.service.isTokenExpired()" (click)="logout()" routerLinkActive="active">Logout</li>
		</ul>
	</div>
	<div id="copyright">Created with .NET Core<br />and Angular</div>
</div>