#sidebar {
    background-color: #f5f5f5;
    display: grid;
    grid-template-areas: "userInfo"
        "logo"
        "image"
        "menu"
        "copyright";
    grid-template-rows: min-content min-content min-content auto min-content;
    height: 100vh;
    overflow-x: hidden;
    transition: 0.7s;
}

#userInfo {
    color: #D67474;
    font-family: "Lato";
    font-size: 1rem;
    margin: 1.5rem auto 0;
}

#logo {
    color: #D67474;
    font-family: "Orbitron";
    margin: 1rem auto;
    text-align: center;
}

#logo>:first-child {
    color: #E80E0E;
    font-family: "Anton";
    font-size: 4.375rem;
    font-weight: normal;
    margin: 0;
}

#logo>:last-child {
    color: #D67474;
    font-family: "Anton";
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: -1rem;
}

#image {
    margin: 0.625rem auto;
    text-align: center;
    width: 10rem;
}

#image img {
    margin: 0 auto;
}

#menu {
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 1rem 0 1rem 0;
}

#menu ul {
    color: #939393;
    display: flex;
    flex-direction: column;
    font-family: "Lato";
    font-size: 1.4rem;
    line-height: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#menu ul>li {
    outline: 0;
    transition: font-size;
    transition-duration: 200ms;
}

#menu ul>li:last-child {
    margin-top: auto;
}

#menu ul>li:hover, #menu ul>li.active {
    color: #D67474;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
}

#copyright {
    color: #D67474;
    font-family: "Lato";
    font-size: 0.625rem;
    margin: 0 auto 1.5rem;
    text-align: center;
}

@media only screen and (max-height: 720px) {

    /* Small heights = hide circle */
    #sidebar {
        grid-template-areas:
            "userInfo"
            "logo"
            "menu"
            "copyright";
        grid-template-rows: min-content min-content auto min-content;
    }

    #image {
        display: none;
    }
}

@media only screen and (min-width:1281px) {

    /* Wide = menu always visible */
    #sidebar {
        width: 250px !important;
    }

    #section {
        margin-left: 250px !important;
    }
}

@media only screen and (max-width:1280px) {

    /* Narrow = menu always hidden */
    #sidebar {
        width: 0;
    }

    #section {
        margin-left: 0;
    }
}
