<div id="header">
    <div>
        <i class="big arrow alternate circle left outline icon" [routerLink]="['/vatStates']"></i>
        <h2>VAT regime</h2>
        <!-- <p>{{ form.value | json }} {{ form.valid }}</p> -->
    </div>
    <div class="ui divider"></div>
</div>

<div id="content">
    <form [formGroup]='form' class="ui form" autocomplete='off'>
        <div id="left">
            <div class="field" [class.error]="description.invalid && description.touched">
                <label for="description">Description</label>
                <input type="text" formControlName="description" tabindex="1" id="description">
            </div>
        </div>
    </form>
</div>

<div id="footer">
    <div class="ui divider"></div>
    <div id="buttons">
        <button class="ui button secondary" (click)="delete()" [hidden]="!form.value.id">Delete</button>
        <button class="ui button solid" (click)="save()" [disabled]="!form.valid">Save</button>
    </div>
</div>