<div id="header">
    <div id="title">
        <h1>VAT regimes</h1>
    </div>
    <div id="search-box">
        <form autocomplete="off">
            <mat-form-field>
                <input type="text" matInput placeholder="Search" id="searchField" #query (keyup)="filter(query.value)" autocomplete="off">
            </mat-form-field>
        </form>
    </div>
</div>

<div id="content">
    <div class="scrollable">
        <mat-table [dataSource]="dataSource" id="dataTable">
            <ng-container *ngFor="let column of columns; index as i" [matColumnDef]="columns[i]">
                <mat-header-cell *matHeaderCellDef>{{ fields[i] }}</mat-header-cell>
                <mat-cell *matCellDef=" let element" ngClass="{{ align[i] }}">{{ element[columns[i]] | custom:format[i] }}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;" [ngClass]="{selected: selection.isSelected(row)}" (enter)="editRecord()" (dblclick)="editRecord()"></mat-row>
        </mat-table>
    </div>
</div>

<div id="footer">
    <mat-divider></mat-divider>
    <div id="buttons">
        <button mat-flat-button class="primary" id="new" (click)="newRecord()">New</button>
    </div>
</div>