<div id="form">

    <div id="formContent">
        <form [formGroup]="form" autocomplete="off">
            <div id="section-one">
                <mat-form-field>
                    <input type="text" matInput placeholder="Destination" formControlName="destinationDescription" tabindex="1" id="destinationDescription" (change)="lookupIndex(destinations, 'Destinations', 'destinationId', 'destinationDescription', $event)">
                    <mat-error *ngIf="destinationDescription.invalid"></mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Customer" formControlName="customerDescription" tabindex="2" id="customerDescription" (change)="lookupIndex(customers, 'CustomerId','customerId', 'customerDescription', $event)">
                    <mat-error *ngIf="destinationDescription.invalid"></mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="PickupPoint" formControlName="pickupPointDescription" tabindex="3" id="pickupPointDescription" (change)="lookupIndex(pickupPoints, 'PickupPointId','pickupPointId', 'pickupPointDescription', $event)">
                    <mat-error *ngIf="pickupPointDescription.invalid"></mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Driver" formControlName="driverDescription" tabindex="4" id="driverDescription" (change)="lookupIndex(drivers, 'driverId','driverId', 'driverDescription', $event)">
                    <mat-error *ngIf="driverDescription.invalid"></mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Port" formControlName="portDescription" tabindex="5" id="portDescription" (change)="lookupIndex(ports, 'PortId','portId', 'portDescription', $event)">
                    <mat-error *ngIf="portDescription.invalid"></mat-error>
                </mat-form-field>
            </div>
            <div id="section-two">
                <mat-form-field>
                    <input type="text" matInput placeholder="Adults" formControlName="adults" tabindex="6" id="adults" class="number" pattern="^[0-9]+[0-9]*$" (change)="calculateTotalPersons()">
                    <mat-error *ngIf="adults.invalid"></mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Kids" formControlName="kids" tabindex="7" id="kids" class="number" pattern="^[0-9]+[0-9]*$" (change)="calculateTotalPersons()">
                    <mat-error *ngIf="kids.invalid"></mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Free" formControlName="free" tabindex="8" id="free" class="number" pattern="^[0-9]+[0-9]*$" (change)="calculateTotalPersons()">
                    <mat-error *ngIf="free.invalid"></mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Total persons" formControlName="totalPersons" id="totalPersons" class="number">
                    <mat-error *ngIf="totalPersons.invalid"></mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="text" matInput placeholder="Remarks" formControlName="remarks" tabindex="9" id="remarks">
                </mat-form-field>
            </div>
        </form>
    </div>

    <div id="formFooter">
        <div id="buttons">
            <p class="form-value" [class.hidden]=true>{{ form.value | json }} {{ form.valid }}</p>
            <button mat-flat-button class="delete" [class.hidden]="!id" id="delete" (click)="deleteRecord()">Delete</button>
            <button mat-flat-button class="primary" id="save" (click)="saveRecord()">Save</button>
        </div>
    </div>

</div>