<div id="results">
    <div class="scrollable" id="summaries">
        <mat-accordion>
            <mat-expansion-panel expanded="true" class="summaryBlock">
                <mat-expansion-panel-header class="summaryHeader">
                    <mat-checkbox class="checkbox destination" [(ngModel)]="checkedDestinations" (click)="toggleItems('destination', this.selectedDestinations, this.checkedDestinations)"></mat-checkbox>
                    <header>Destinations</header>
                </mat-expansion-panel-header>
                <div *ngFor="let item of queryResult.personsPerDestination" (click)="toggleItem(item, this.selectedDestinations)" class="item destination" [class.active]="item.isSelected" [id]="item.description">
                    <div class="description"> {{ item.description }} </div>
                    <div class="total"> {{ item.persons }} </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="summaryBlock">
                <mat-expansion-panel-header class="summaryHeader">
                    <mat-checkbox class="checkbox customer" [(ngModel)]="checkedCustomers" (click)="toggleItems('customer', this.selectedCustomers, this.checkedCustomers)"></mat-checkbox>
                    <header>Customers</header>
                </mat-expansion-panel-header>
                <div *ngFor="let item of queryResult.personsPerCustomer" (click)="toggleItem(item, this.selectedCustomers)" class="item customer" [class.active]="item.isSelected" [id]="item.description">
                    <div class="description"> {{ item.description }} </div>
                    <div class="total"> {{ item.persons }} </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="summaryBlock">
                <mat-expansion-panel-header class="summaryHeader">
                    <mat-checkbox class="checkbox route" [(ngModel)]="checkedRoutes" (click)="toggleItems('route', this.selectedRoutes, this.checkedRoutes)"></mat-checkbox>
                    <header>Routes</header>
                </mat-expansion-panel-header>
                <div *ngFor="let item of queryResult.personsPerRoute" (click)="toggleItem(item, this.selectedRoutes)" class="item route" [class.activeItem]="item.isSelected" [id]="item.description">
                    <div class="description"> {{ item.description }} </div>
                    <div class="total"> {{ item.persons }} </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="summaryBlock">
                <mat-expansion-panel-header class="summaryHeader">
                    <mat-checkbox class="checkbox driver" [(ngModel)]="checkedDrivers" (click)="toggleItems('driver', this.selectedDrivers, this.checkedDrivers)"></mat-checkbox>
                    <header>Drivers</header>
                </mat-expansion-panel-header>
                <div *ngFor="let item of queryResult.personsPerDriver" (click)="toggleItem(item, this.selectedDrivers)" class="item driver" [class.active]="item.isSelected" [id]="item.description">
                    <div class="description"> {{ item.description }} </div>
                    <div class="total"> {{ item.persons }} </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="summaryBlock">
                <mat-expansion-panel-header class="summaryHeader">
                    <mat-checkbox class="checkbox port" [(ngModel)]="checkedPorts" (click)="toggleItems('port', this.selectedPorts, this.checkedPorts)"></mat-checkbox>
                    <header>Ports</header>
                </mat-expansion-panel-header>
                <div *ngFor="let item of queryResult.personsPerPort" (click)="toggleItem(item, this.selectedPorts)" class="item port" [class.active]="item.isSelected" [id]="item.description">
                    <div class="description"> {{ item.description }} </div>
                    <div class="total"> {{ item.persons }} </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <mat-expansion-panel expanded="true" class="summaryBlock" id="totals" disabled>
        <mat-expansion-panel-header class="summaryHeader">
            <header id="header-totals">Persons</header>
        </mat-expansion-panel-header>
        <div *ngFor="let item of totals">
            <div class="item activeItem">
                <div class="description"> {{ item.description }} </div>
                <div class="total">{{ item.sum }}</div>
            </div>
        </div>
    </mat-expansion-panel>
    <div id="listFormCombo">
        <div class="scrollable" id="transfersList">
            <table-transfer [records]="transfersFlat" [headers]="headers" [widths]="widths" [visibility]="visibility" [justify]="justify" [fields]="fields"></table-transfer>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>