<ng-container *ngIf="queryResult.persons!=0; then showResults; else showNotFound">
    <!-- Conditional content -->
</ng-container>

<ng-template #showResults>
    <div id="results">
        <div class="scrollable" id="summaries">
            <mat-expansion-panel expanded="true" class="summaryBlock">
                <mat-expansion-panel-header class="summaryHeader">
                    <mat-checkbox class="checkbox destination" [(ngModel)]="checkedDestinations" (click)="toggleItems()"></mat-checkbox>
                    <header>Destinations</header>
                </mat-expansion-panel-header>
                <div *ngFor="let item of queryResult.personsPerDestination" (click)="toggleItem(item, this.selectedDestinations)" class="item destination" [class.active]="item.isSelected" [id]="item.description">
                    <div class="description"> {{ item.description }} </div>
                    <div class="total"> {{ item.persons }} </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="summaryBlock">
                <mat-expansion-panel-header class="summaryHeader">
                    <header>Customers</header>
                </mat-expansion-panel-header>
                <div *ngFor="let item of queryResult.personsPerCustomer" (click)="toggleItem(item, this.selectedCustomers)" class="item customer" [class.active]="item.isSelected" [id]="item.description">
                    <div class="description"> {{ item.description }} </div>
                    <div class="total"> {{ item.persons }} </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="summaryBlock">
                <mat-expansion-panel-header class="summaryHeader">
                    <header>Routes</header>
                </mat-expansion-panel-header>
                <div *ngFor="let item of queryResult.personsPerRoute" (click)="toggleItem(item, this.selectedRoutes)" class="item route" [class.activeItem]="item.isSelected" [id]="item.description">
                    <div class="description"> {{ item.description }} </div>
                    <div class="total"> {{ item.persons }} </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="summaryBlock">
                <mat-expansion-panel-header class="summaryHeader">
                    <header>Drivers</header>
                </mat-expansion-panel-header>
                <div *ngFor="let item of queryResult.personsPerDriver" (click)="toggleItem(item, this.selectedDrivers)" class="item driver" [class.active]="item.isSelected" [id]="item.description">
                    <div class="description"> {{ item.description }} </div>
                    <div class="total"> {{ item.persons }} </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel class="summaryBlock">
                <mat-expansion-panel-header class="summaryHeader">
                    <header>Ports</header>
                </mat-expansion-panel-header>
                <div *ngFor="let item of queryResult.personsPerPort" (click)="toggleItem(item, this.selectedPorts)" class="item port" [class.active]="item.isSelected" [id]="item.description">
                    <div class="description"> {{ item.description }} </div>
                    <div class="total"> {{ item.persons }} </div>
                </div>
            </mat-expansion-panel>
        </div>
        <div id="listFormCombo">
            <p>
                {{ checkedDestinations }}
                {{ selectedDestinations | json }}
            </p>
            <div class="scrollable" id="transfersList">
                <app-table [records]="transfersFlat" [headers]="headers" [widths]="widths" [visibility]="visibility" [justify]="justify" [fields]="fields"></app-table>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</ng-template>

<ng-template #showNotFound>
    <h1>Nothing here</h1>
</ng-template>