#what {
    display: grid;
    grid-template-areas:
        "summaries listFormCombo"
        "footer footer";
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    height: 100%;
    overflow-y: hidden;
}

#listFormCombo {
    grid-area: listFormCombo;
    overflow-y: hidden;
}

#summaries {
    align-content: flex-start;
    background-color: var(--color-background);
    display: grid;
    grid-area: summaries;
    height: -webkit-fill-available;
    margin-right: 1.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    row-gap: 0.5rem;
    width: 25rem;
}

.summaryBlock {
    background-color: var(--color-summary-block-background);
    height: fit-content;
    padding: 0 1.9rem 1.9rem 0;
}

.summaryHeader {
    display: flex;
    justify-content: space-between;
}

.summaryBlock header {
    color: var(--color-master-dark);
    font-family: var(--font-family-summary-block-header);
    font-size: var(--font-size-summary-block-header);
    margin-bottom: 1rem;
}

.summaryBlock header.total {
    font-family: var(--font-family-summary-block-header-total);
}

.summaryBlock .item {
    border-left: 0.3rem solid var(--color-summary-block-border-inactive);
    color: var(--color-summary-block-item);
    display: flex;
    font-family: var(--font-family-summary-block-item);
    font-size: var(--font-size-summary-block-item);
    justify-content: space-between;
    line-height: 1.8rem;
    margin-bottom: 0.2rem;
    padding-left: 0.5rem;
}

.summaryBlock .item:hover {
    background-color: var(--color-summary-block-item-hover-background);
    color: var(--color-summary-block-item-hover-color);
    cursor: pointer;
}

.summaryBlock .item .description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 13rem;
}

.summaryBlock .item .total {
    align-items: flex-end;
    display: flex;
    font-family: var(--font-family-summary-block-header-total);
    font-size: var(--font-size-summary-block-item-total);
    padding-right: 0.5rem;
}

.activeItem {
    border-left-color: var(--color-summary-block-border-active) !important;
}