<div id="wrapper">

    <div id="header">
        <div id="title">
            <h1>Transfers</h1>
        </div>
        <div id="search-box">
            <mat-form-field>
                <input class="date" matInput placeholder="Date" [(ngModel)]="dateIn" [inputFormat]="'date'" id="dateIn" autocomplete="off">
                <mat-hint>Enter anything!</mat-hint>
            </mat-form-field>
            <button mat-flat-button id="search" class="primary" [disabled]="!isValidDate()" (click)="loadTransfers()">Search</button>
        </div>
    </div>

    <div id="list">
        <router-outlet></router-outlet>
    </div>

    <div id="footer">
        <mat-divider></mat-divider>
        <div id="buttons">
            <ng-container *ngIf="recordStatus == 'empty'">
                <button mat-flat-button class="secondary" id="assignDriver" [class.hidden]="!tableHasData()" (click)="assignDriver()">Assign driver</button>
                <button mat-flat-button class="primary" id="new" [disabled]="!isValidDate()" (click)="newRecord()">New</button>
            </ng-container>
            <ng-container *ngIf="recordStatus == 'newRecord'">
                <button mat-flat-button class="primary" id="save" (click)="saveRecord()">Save</button>
            </ng-container>
            <ng-container *ngIf="recordStatus != 'empty' && recordStatus != 'newRecord'">
                <button mat-flat-button class="delete" id="delete" (click)="deleteRecord()">Delete</button>
                <button mat-flat-button class="primary" id="save" (click)="saveRecord()">Save</button>
            </ng-container>
        </div>
    </div>

</div>