#wrapper {
    display: grid;
    grid-template-areas:
        "header"
        "list"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

#list {
    grid-area: list;
    margin: 0 2rem;
    overflow: hidden;
}

#footer {
    grid-area: footer;
}