button {
    color: var(--color-button-text) !important;
    cursor: default !important;
    font-family: var(--font-family-buttons) !important;
    font-weight: var(--font-weight-buttons) !important;
    margin: 0 0 0 0.5rem !important;
    outline: 0 !important;
}

button.primary {
    background-color: var(--color-button-primary) !important;
}

button.secondary {
    background-color: var(--color-button-secondary) !important;
}

button.delete {
    background-color: var(--color-button-delete) !important;
}

button.navigation {
    margin: 0 0.5rem 0 0 !important;
    background-color: var(--color-navigation-button) !important;
    outline: 0 !important;
}

button::first-letter {
    text-decoration: underline;
}

button:disabled {
    cursor: not-allowed !important;
    pointer-events: all !important;
}

button:not(:disabled) {
    cursor: pointer !important;
}