* {
    /* Buttons */
    --color-button-delete: #d67474;
    --color-button-primary: #57617b;
    --color-button-secondary: #5a75bc;
    --color-button-text: #fffddd;
    --color-button-text-transparent: #fffddd;
    /* Dialogs */
    --color-dialog-background: #373f46;
    --color-dialog-content: #939393;
    --color-dialog-title: #949494;
    /* Snackbar */
    --color-snackbar: #fffddd;
    /* Divider lines */
    --color-divider: #57617b;
    /* Hamburger */
    --color-hamburger: #939393;
    /* All headers */
    --color-headers: #ffc788;
    /* Input boxes */
    --color-input-text-caret: #ffffff;
    --color-input-text-error: #fc3b3b;
    --color-input-text-focus: #fe9f36;
    --color-input-text-label: #e2dcdc;
    --color-input-text-underline: #5f5e5e;
    --color-input-text-selected: #5f5e5e;
    --color-input-text-underline-focus: #ba680b;
    --color-input-text-not-focus: #ffffff;
    --color-icon: #e2dcdc;
    /* Main background */
    --color-background: #373F46;
    /* Navigation icon */
    --color-navigation-button: #373F46;
    /* Scrollbars */
    --color-scrollbar: #fe9f36;
    --color-scrollbar-background: #b67933;
    /* Sidebar */
    --top-color: rgba(0, 0, 0, 1);
    --bottom-color: rgba(0, 0, 0, 1);
    --color-sidebar-background: linear-gradient(var(--top-color), var(--bottom-color));
    --color-company-logo-first-child: #fe9f36;
    --color-company-logo-second-child: #ffe85c;
    --color-copyright: #fe9f36;
    --color-menu-active-item: #fe9f36;
    --color-menu-list-items: #b3b2b2;
    --color-user-info: #b3b2b2;
    --color-stroke: #1d2733;
    /* Tables */
    --color-table-background: #373f46;
    --color-table-header: #b3b2b2;
    --color-table-header-border: #57617b;
    --color-table-row: #b3b2b2;
    --color-table-row-odd: #363d44;
    --color-table-row-even: #3c434b;
    --color-table-row-selected: #394d59;
    /* Transfer summary boxes */
    --color-summary-block-background: #373f46;
    --color-summary-block-border: #57617b;
    --color-summary-block-expansion-indicator: #939393;
    --color-summary-block-item-border-active: #fe9f36;
    --color-summary-block-item-border-inactive: #939393;
    --color-summary-block-item-hover-background: #373f46;
    --color-summary-block-item-hover-color: #ffffff;
    --color-summary-block-item: #b3b2b2;
    /* Checkboxes */
    --color-checkbox-checked: #fe9f36;
    /* Snackbars */
    --color-snackbar-text: #ffffff;
    --color-snackbar-background-danger: #a52a2a;
    --color-snackbar-background-info: #0e8d97;
    /* Spinner */
    --color-spinner: #d67474;
    --color-spinner-background: #ffe85c;
    /* Instructions on forms */
    --color-paragraphs: #ffc788;
}