* {
    box-sizing: border-box !important;
}

.mat-dialog-container {
    background-color: var(--color-table-background) !important;
}

#index-dialog {
    padding: 1rem !important;
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

#index-dialog-header {
    grid-area: header;
    padding: 0 0 2rem 0;
}

#index-dialog-header h1 {
    font-family: var(--font-family-dialog-header) !important;
}

#index-dialog-content {
    grid-area: content;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#index-dialog-footer {
    grid-area: footer;
    text-align: end;
    width: 100%;
    padding: 2.5rem 0 0 0;
}