.mat-dialog-container {
    background-color: var(--color-dialog-background) !important;
    border-radius: 5px !important;
    display: flex !important;
    padding: 2rem !important;
    width: auto;
}

.mat-dialog-title {
    color: var(--color-dialog-title) !important;
    font-family: var(--font-family-dialog-header) !important;
    font-size: var(--font-size-mat-dialog-title) !important;
    margin-bottom: 25px !important;
}

.mat-dialog-container>.ng-star-inserted {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;
    width: 100% !important;
}

.mat-dialog-content {
    color: var(--color-dialog-content) !important;
    font-family: var(--font-family-dialog-content) !important;
    font-size: var(--font-size-mat-dialog-content) !important;
}