:host {
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-rows: max-content 1fr max-content;
    height: 100%;
}

#header {
    grid-area: "header";
    margin: 2rem 2rem 0 2rem;
}

#header div:first-child {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
}

#content {
    align-content: flex-start;
    justify-content: center;
    margin: 0 3rem;
}

#content form {
    display: flex;
    flex-direction: column;
}

#footer {
    grid-area: "footer";
}

/* ! Narrow screen */
@media only screen and (max-width: 80rem) {
    h1 {
        margin-left: 0 !important;
    }

    .navigation-icon {
        margin-left: 2rem !important;
    }
}