h1 {
    color: var(--color-headers) !important;
    font-family: var(--font-family-headers) !important;
    font-size: var(--font-size-headers) !important;
    font-weight: var(--font-weight-headers) !important;
}

h3 {
    font-weight: var(--font-weight-headers) !important;
}

label.customLabel {
    font-family: var(--font-family-labels) !important;
    font-size: var(--font-size-labels) !important;
}

input.customInput {
    font-family: var(--font-family-customInput) !important;
    font-size: var(--font-size-customInput) !important;
}