:host {
    align-items: flex-start;
    display: flex;
    margin: 0 auto;
}

h1 {
    color: var(--form-header-color);
    font-size: var(--form-header-size);
    font-weight: var(--form-header-weight);
    margin: 0;
}

h2 {
    color: var(--form-sub-header-color);
    font-size: var(--form-sub-header-size);
    font-weight: var(--form-sub-header-weight);
    margin: 0;
    padding-bottom: 0;
}

input {
    font-size: 0.9375rem;
}

.field-wrapper {
    margin-bottom: 0.9375rem;
}

.mat-form-field {
    width: 31.250rem;
}

.button-wrapper {
    text-align: end;
}

#header {
    grid-area: header;
    padding: 1.875rem 0 0.625rem 0;
}


#footer {
    grid-area: footer;
    padding-bottom: 1.875rem;
}