input.date {
    text-align: center;
}

input.number {
    margin: 0 0.5rem 1rem 0 !important;
    text-align: right;
    width: 80px !important;
}

input::selection {
    background-color: darkgray;
}

input[type=text] {
    caret-color: var(--color-input-text-caret);
    color: var(--color-input-text-not-focus);
    cursor: text !important;
    font-size: var(--font-size-input);
}

input[type=text]:disabled {
    cursor: not-allowed !important;
    opacity: 1 !important;
    pointer-events: all !important;
}

/* Not focused - Not error*/
.mat-form-field .mat-form-field-label {
    color: var(--color-input-text-label) !important;
}

.mat-form-field .mat-input-element {
    color: var(--color-input-text-not-focus) !important;
}

.mat-form-field-underline {
    background-color: var(--color-input-text-underline) !important
}

/* Focused */
.mat-form-field.mat-focused .mat-form-field-label {
    color: var(--color-input-text-focus) !important;
}

.mat-form-field.mat-focused .mat-input-element {
    color: var(--color-input-text-focus) !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: var(--color-input-text-underline-focus) !important
}

/* Error */
.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: var(--color-input-text-error) !important;
    font-weight: bold !important;
}

.mat-form-field.mat-form-field-invalid .mat-input-element {
    color: var(--color-input-text-error) !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: var(--color-input-text-error) !important;
}