:host {
    display: grid;
    grid-template-areas: 
        "header"
        "content"
        "footer";
    grid-template-rows: max-content auto max-content;
    height: 100vh;
}

#header {
    grid-area: "header";
    margin: 2rem 2rem 2rem 2rem;
}

#header div:first-child {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
}

#header #search-box {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

#content {
    display: flex;
    grid-area: "content";
    overflow-x: auto;
    padding: 0 2rem;
}

#footer {
    grid-area: "footer";
    margin: 0 2rem 2rem 2rem;
    text-align: right;
}

#footer #buttons {
    margin-right: 1rem;
}

#content::-webkit-scrollbar {
    width: 0.5rem;
}

#content::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    min-height: 6.25rem;
}

.ui.divider {
    margin: 1.8rem 0 2rem 0;
}

table {
    font-family: var(--font-family-table);
    border: 0 !important;
}

table th {
    background-color: var(--color-table-header-background) !important;
    border: 0 !important;
    color: var(--color-table-header-text);
    position: sticky;
    top: 0;
}

table tbody {
    background-color: var(--color-table-rows-background)!important;
}

table tr:hover {
    cursor: pointer !important;
    background-color: var(--color-table-row-hover) !important;
}

/* ! Narrow screen */
@media only screen and (max-width: 80rem) {
    h2 {
        margin-left: 3rem !important;
    }
}