:host {
    display: grid;
    grid-template-areas:         
        "header"
        "content"
        "footer";
    grid-template-rows: max-content auto max-content;
    height: 100vh;
}

#header {
    display: grid;
    grid-area: header;
    grid-template-areas:
        "title searchbox"
        "divider divider";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 0;
    padding: 2rem 2rem 0 2rem;
}

#header #title {
    align-items: center;
    display: flex;
    grid-area: title;
    justify-content: flex-start;
    margin-left: 1rem;
}

#header #search-box {
    display: flex;
    grid-area: searchbox;
    justify-content: flex-end;
    margin: 0 1rem 0 0;
}

#searchField {
    width: 30rem;
}

#content {
    display: flex;
    flex-direction: row;
    grid-area: content;
    grid-auto-rows: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0 2rem;
    position: relative;
}

#footer {
    grid-area: footer;
    margin: 0 2rem 2rem 2rem;
    text-align: right;
}

#footer #buttons {
    margin-right: 1rem;
}

#scrollable {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

#scrollable::-webkit-scrollbar {
    width: 0.5rem;
}

#scrollable::-webkit-scrollbar-track {
    background-color: var(--color-scrollbar-background);
}

#scrollable::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: 0;
    min-height: 6.25rem;
}

.ui.divider {
    grid-area: divider;
    margin: 1.8rem 0 2rem 0;
}

table {
    background-color: var(--color-background) !important;
    border: 0 !important;
    font-family: var(--font-family-table);
}

table th {
    background-color: var(--color-table-header-background) !important;
    border-radius: 0 !important;
    border: 0 !important;
    color: var(--color-table-header-text);
    position: sticky;
    top: 0;
}

table tbody {
    background-color: var(--color-table-rows-background)!important;
}

table tr:hover {
    background-color: var(--color-table-row-hover) !important;
    cursor: pointer !important;
}

/* ! Narrow screen */
@media only screen and (max-width: 80rem) {
    h1 {
        margin-left: 3rem !important;
    }
}