#customSnackbar {
    align-items: center;
    display: flex;
    min-height: 1.5rem;
    padding: 0 0.5rem;
    width: 100%;
}

#customSnackbar div {
    align-items: center;
    color: var(--color-snackbar);
    display: flex;
    font-family: var(--font-family-snackbar);
    font-size: var(--font-size-snackbar);
    width: 100%;
}