@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@import "variables.css";
@import "headers.css";
@import "labels.css";
@import "buttons.css";

* {
    box-sizing: border-box !important;
}

body, h1, h2, h3 {
    margin: 0 !important;
}

.hidden {
    display: none !important;
}

.date {
    text-align: center;
}

.dropdown {
    font-family: var(--font-family-dropdowns);
}

.icon {
    color: var(--color-icon);
    cursor: pointer;
    margin-left: -2px !important;
    margin-top: 2px !important;
    outline: 0;
}

#section-one {
    grid-area: "section-one";
}

#section-two {
    grid-area: "section-two";
}

#loader {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

#loader p {
    margin-top: 0.5rem;
}

.modal-open .modal {
    display: flex !important;
    align-items: center !important;
}

.modal-content {
    background-color: #f0f0f8;
    padding: 1rem;
    width: 40rem
}

@media only screen and (max-width: 1280px) {
    h2 {
        margin-left: 3rem !important;
    }
}
