@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@import "variables.css";
@import "headers.css";
@import "labels.css";
@import "buttons.css";

* {
    box-sizing: border-box !important;
}

body, h1, h2, h3 {
    margin: 0 !important;
}

.hidden {
    display: none !important;
}

.date {
    text-align: center;
}

.dropdown {
    font-family: var(--font-family-dropdowns);
}

.search.icon {
    margin-top: 0.8rem !important;
}

#section-one {
    grid-area: "section-one";
}

#section-two {
    grid-area: "section-two";
}

#loader {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

#loader p {
    margin-top: 0.5rem;
}

.modal-open .modal {
    display: flex !important;
    align-items: center !important;
}

.modal-content {
    background-color: #f0f0f8;
    padding: 1rem;
    width: 40rem
}

input {
    padding-right: 2.5rem !important;
}

input:focus {
    background-color: var(--color-input-focus) !important;
}

div.input {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}

div.input i {
    height: 1.3rem !important;
    margin:0 !important;
    padding-right: 1.9rem;
    position: absolute;
}

/* ! Wide screen */
@media only screen and (min-width: 80.0625rem) {
	.icon {
		margin-left: 0 !important;
    }
}

/* ! Narrow screen */
@media only screen and (max-width: 80rem) {
	.icon {
		margin-left: 2rem !important;
    }
    h2 {
        margin-left: 1rem !important;
    }    
}
