/* Header */
.mat-header-row {
    background-color: var(--color-table-header-background) !important;
    font-family: var(--font-family-table);
}

.mat-header-cell:first-child, .mat-cell:first-child {
    flex: 0% !important;
    padding: 0 !important;
}

/* .mat-header-cell:not(:first-child), .mat-cell:not(:first-child) { */
/* flex: 100%; */
/* } */

.mat-header-cell:not(:first-child) {
    color: var(--color-table-header) !important;
    font-size: 1.1rem !important;
    justify-content: center !important;
    padding: 0 10px !important;
    border: 1px solid var(--color-table-header-border) !important;
}

/* Row */
.mat-row {
    background-color: var(--color-table-rows-background) !important;
    cursor: pointer;
    font-family: var(--font-family-table);
}

.mat-row.selected {
    background-color: var(--color-table-row-selected) !important;
}

.mat-row>.mat-cell:nth-child(2) {
    border-left: 4px solid var(--color-table-left-border-unselected) !important;
}

.mat-row.selected>.mat-cell:nth-child(2) {
    border-left: 4px solid var(--color-table-left-border-selected) !important;
}

/* Cells */
.mat-cell:not(:first-child) {
    color: var(--color-table-row) !important;
    font-size: var(--font-size-table-row) !important;
    padding-left: 10px !important;
}

/* Extras */
.left {
    justify-content: flex-start !important;
}

.right {
    justify-content: flex-end !important;
}

.center {
    justify-content: center !important;
}