* {
    --font-weight-buttons: 100 !important;
    --font-weight-headers: 100 !important;
    --font-weight-labels: 500 !important;
}

* {
    /* Font sizes */
    /* All headers */
    --font-size-headers: 2rem;
    /* Labels */
    --font-size-labels: 0.8rem;
    /* Dialogs */
    --font-size-mat-dialog-title: 2.0rem;
    --font-size-mat-dialog-content: 1.1rem;
    /* Snackbar*/
    --font-size-snackbar: 0.95rem;
    /* Transfer summary boxes */
    --font-size-summary-block-header: 1.5rem;
    --font-size-summary-block-header-total: 1.3rem;
    --font-size-summary-block-item: 1.0rem;
    /* Sidebar - Menu */
    --font-size-copyright: 0.6rem;
    --font-size-logo-first-child: 4.375rem;
    --font-size-logo-second-child: 2.5rem;
    --font-size-menu-list-item-active: 1.4rem;
    --font-size-menu-list-items: 1.4rem;
    --font-size-user-info: 0.9rem;
    /* Tables */
    --font-size-table-header: 1.2rem;
    --font-size-table-rows: 0.9rem;
    /* Instructions */
    --font-size-paragraphs: 0.8rem;
}

* {
    /* Font families */
    /* Buttons */
    --font-family-buttons: "Noto Sans";
    /* All headers */
    --font-family-headers: "Noto Sans";
    /* Dialogs */
    --font-family-dialog-header: "Noto Sans";
    --font-family-dialog-content: "Noto Sans";
    /* Snackbars */
    --font-family-snackbar: "Noto Sans";
    /* Tables */
    --font-family-table: 'Noto Sans';
    /* Transfer summary boxes */
    --font-family-summary-block: "Noto Sans";
    /* Sidebar  */
    --font-family-user-info: "Noto Sans";
    --font-family-logo: "Anton";
    --font-family-menu-list-items: "Noto Sans";
    --font-family-copyright: "Noto Sans";
    /* Instructions */
    --font-family-paragraphs: "Noto Sans";
}

* {
    /* Colors */
    /* Buttons */
    --color-button-delete: #D67474;
    --color-button-primary: #57617B;
    --color-button-secondary: #5A75BC;
    --color-button-text: #FFFDDD;
    /* Dialogs */
    --color-dialog-background: #373F46;
    --color-dialog-content: #939393;
    --color-dialog-title: #939393;
    /* Snackbar */
    --color-snackbar: #FFFDDD;
    /* Divider lines */
    --color-divider: #57617B;
    /* Hamburger */
    --color-hamburger: #939393;
    /* All headers */
    --color-headers: #ffc788;
    /* Input boxes */
    --color-input-text-caret: #FFFFFF;
    --color-input-text-error: #FC3B3B;
    --color-input-text-focus: #FE9F36;
    --color-input-text-label: #e2dcdc;
    --color-input-text-underline: #5F5E5E;
    --color-input-text-selected: #5F5E5E;
    --color-input-text-underline-focus: #BA680B;
    --color-input-text-not-focus: #FFFFFF;
    /* Main background */
    --color-background: #373F46;
    /* Navigation icon */
    --color-navigation-button: #373F46;
    /* Scrollbars */
    --color-scrollbar: #fe9f36;
    --color-scrollbar-background: #fe9f3680;
    /* Sidebar */
    --color-sidebar-background: #1D2733;
    --color-company-logo-first-child: #FE9F36;
    --color-company-logo-second-child: #FFE85C;
    --color-copyright: #FE9F36;
    --color-menu-active-item: #FE9F36;
    --color-menu-list-items: #b3b2b2;
    --color-user-info: #b3b2b2;
    /* Tables */
    --color-table-background: #373F46;
    --color-table-header: #b3b2b2;
    --color-table-header-border: #57617B;
    --color-table-row: #B3B2B2;
    --color-table-row-odd: #363D44;
    --color-table-row-even: #3c434b;
    --color-table-row-selected: #394D59;
    --color-table-rows-hover: #ffc788;
    /* Transfer summary boxes */
    --color-summary-block-background: #373F46;
    --color-summary-block-border: #57617B;
    --color-summary-block-expansion-indicator: #939393;
    --color-summary-block-item-border-active: #FE9F36;
    --color-summary-block-item-border-inactive: #939393;
    --color-summary-block-item-hover-background: #373F46;
    --color-summary-block-item-hover-color: #FFFFFF;
    --color-summary-block-item: #B3B2B2;
    /* Checkboxes */
    --color-checkbox-checked: #FE9F36;
    /* Snackbars */
    --color-snackbar-text: #ffffff;
    --color-snackbar-background-danger: #a52a2a;
    --color-snackbar-background-info: #0e8d97;
    /* Spinner */
    --color-spinner: #d67474;
    --color-spinner-background: #FFE85C;
    /* Autocomplete */
    --color-autocomplete-background: #373F46;
    --color-autocomplete-color: #B3B2B2;
    --color-autocomplete-ripple: #648e9f4a;
    --color-autocomplete-selected: #b3b2b245;
    /* Instructions on forms */
    --color-paragraphs: #ffc788;

}