* {
    --font-weight-buttons: 100 !important;
    --font-weight-headers: 100 !important;
    --font-weight-labels: 500 !important;
}

* {
    /* Font sizes */
    /* All headers */
    --font-size-headers: 2rem;
    /* Labels */
    --font-size-labels: 0.8rem;
    /* Dialogs */
    --font-size-mat-dialog-title: 2.0rem;
    --font-size-mat-dialog-content: 1.1rem;
    /* Snackbar*/
    --font-size-snackbar: 0.95rem;
    /* Transfer summary boxes */
    --font-size-summary-block-header: 1.4rem;
    --font-size-summary-block-item: 1.0rem;
    /* Sidebar - Menu */
    --font-size-copyright: 0.6rem;
    --font-size-logo-first-child: 4.375rem;
    --font-size-logo-second-child: 2.5rem;
    --font-size-menu-list-item-active: 1.3rem;
    --font-size-menu-list-items: 1.3rem;
    --font-size-user-info: 0.9rem;
    /* Tables */
    --font-size-table-header: 1.1rem;
    --font-size-table-rows: 0.9rem;
    /* Instructions */
    --font-size-paragraphs: 0.8rem;
}

* {
    /* Font families */
    /* Buttons */
    --font-family-buttons: "Noto Sans";
    /* All headers */
    --font-family-headers: "Noto Sans";
    /* Dialogs */
    --font-family-dialog-header: "Noto Sans";
    --font-family-dialog-content: "Noto Sans";
    /* Snackbars */
    --font-family-snackbar: "Noto Sans";
    /* Tables */
    --font-family-table: 'Noto Sans';
    /* Transfer summary boxes */
    --font-family-summary-block: "Noto Sans";
    /* Sidebar  */
    --font-family-user-info: "Noto Sans";
    --font-family-logo: "Anton";
    --font-family-menu-list-items: "Noto Sans";
    --font-family-copyright: "Noto Sans";
    /* Instructions */
    --font-family-paragraphs: "Noto Sans";
}

* {
    /* Colors */
    /* Buttons */
    --color-button-delete: #d67474;
    --color-button-primary: #57617b;
    --color-button-secondary: #5a75bc;
    --color-button-text: #fffddd;
    --color-button-text-transparent: #66645a;
    /* Dialogs */
    --color-dialog-background: #d9c68f;
    --color-dialog-content: #57617b;
    --color-dialog-title: #949494;
    /* Snackbar */
    --color-snackbar: #fffddd;
    /* Divider lines */
    --color-divider: #57617b;
    /* Hamburger */
    --color-hamburger: #939393;
    /* All headers */
    --color-headers: #66645a;
    /* Input boxes */
    --color-input-text-caret: #4c66da;
    --color-input-text-error: #fc3b3b;
    --color-input-text-focus: #ba680b;
    --color-input-text-label: #5f5e5e;
    --color-input-text-underline: #5f5e5e;
    --color-input-text-selected: #ffffff;
    --color-input-text-underline-focus: #ba680b;
    --color-input-text-not-focus: #5f5e5e;
    --color-icon: #5f5e5e;
    /* Main background */
    --color-background: #d9c68f;
    /* Navigation icon */
    --color-navigation-button: #d9c68f;
    /* Scrollbars */
    --color-scrollbar: #bf9b7a;
    --color-scrollbar-background: #fffddd;
    /* Sidebar */
    --color-sidebar-background: #bf9b7a;
    --color-company-logo-first-child: #66645a;
    --color-company-logo-second-child: #ffe85c;
    --color-copyright: #66645a;
    --color-menu-active-item: #ffe85c;
    --color-menu-list-items: #424242;
    --color-user-info: #424242;
    --color-stroke: #000000;
    /* Tables */
    --color-table-background: #d9c68f;
    --color-table-header: #66645a;
    --color-table-header-border: #57617B;
    --color-table-row: #66645a;
    --color-table-row-odd: #d9c68f;
    --color-table-row-even: #e3cd8b;
    --color-table-row-selected: #fde7a6;
    /* Transfer summary boxes */
    --color-summary-block-background: #d9c68f;
    --color-summary-block-border: #57617b;
    --color-summary-block-expansion-indicator: #939393;
    --color-summary-block-item-border-active: #fffddd;
    --color-summary-block-item-border-inactive: #939393;
    --color-summary-block-item-hover-background: #d9c68f;
    --color-summary-block-item-hover-color: #ffffff;
    --color-summary-block-item: #fffddd;
    /* Checkboxes */
    --color-checkbox-checked: #fffddd;
    /* Snackbars */
    --color-snackbar-text: #ffffff;
    --color-snackbar-background-danger: #a52a2a;
    --color-snackbar-background-info: #0e8d97;
    /* Spinner */
    --color-spinner: #d67676;
    --color-spinner-background: #ffe85c;
    /* Instructions on forms */
    --color-paragraphs: #66645a;
}